<!doctype HTML>
<html>
<!-- Copyright 2013 by Bill Roy.  Use under MIT License. -->
<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="http://code.angularjs.org/1.1.5/angular.js"></script>
<script src="angular-ui.js"></script>

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet"/>


<style type='text/css'>
body {
    background-color: black;
}
.notebook {
    background-color: lightgray;
    width: 2048px;
    height:2048px;
}
.note {
    position: absolute;
	text-align: left;
	cursor: move;
}
.titlebar {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}
.notetitle {
	font: bold .8em;
    font-weight: bold;
	text-align: left;
}
.notebody {
    margin: -0.1em 0.5em 0 0.5em;
    padding: 0.5em 1em 1em 1em;
    background: white;
	font-size: 0.8em;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 6px 6px;
}
.over {
    border: 1px red dashed;
}
input[type=text] {
    border-radius: 6px;
    border: 0;
}
textarea {
    border-radius: 6px;
    border: 0;
}
.button {
    color: white !important;
    background: black;
    font-size: 0.8em;
    border-radius: 3px;    
}
.buttons {
    margin: 0 2em 0 2em;
}
</style>
</head>
<body ng-app='NoteSoup'>


<div ng-controller='NotebookController' class='notebook'
    droppable='true'
    ui-event='{
        dragstart:"dragstart($event)", 
        drag:"drag($event)",
        dragover:"dragover($event)",
        dragenter:"dragenter($event)",
        dragleave:"dragleave($event)",
        drop:"drop($event)",
        dragend:"dragend($event)"
    }'>

    <div class="commandBar">
        <form name='newNoteEntry' ng-submit='addNoteFromForm()'>
            <input type='text' name='newNoteText' 
                ng-style='{width:"80%"}'
                ng-model='newNoteText'/>
        </form>
    </div>

Notes:..{{newNoteText}}.. {{notes}} ..
    <div class='note' ng-repeat='note in notes' id='note_{{note.i}}'
        ng-style='{color:"{{note.c}}", left:"{{note.x}}px", top:"{{note.y}}px", width:"{{note.w}}px"}'
        draggable='true'
        ui-event='{
            dragstart:"dragstart($event)", 
            drag:"drag($event)",
            dragover:"dragover($event)",
            dragenter:"dragenter($event)",
            dragleave:"dragleave($event)",
            drop:"drop($event)",
            dragend:"dragend($event)"
        }'>
        <div class='titlebar'
            ng-style='{background:"{{note.b}}", width:"{{note.w}}px"}'>
            <span ng-click='toggleText(note)'>&nbsp;&bull;
<!--
                <svg ng-hide='note.d' width='12' height='12'>
                    <path d='M3,3L7,6L3,9Z'
                        style='fill:#000; stroke:#000;'/>
                </svg>
                <svg ng-show='note.d' width='12' height='12'>
                    <path d='M3,5L6,9L9,5Z'
                        style='fill:#000; stroke:#000;'/>
                </svg>
-->
            </span>
            <span class='notetitle' 
                ng-hide='note._editingTitle' 
                ng-dblclick='editTitle(note)'>{{note.n}}
            </span>
            <span ng-show='note._editingTitle'>
                <input type='text' name='noteTitle' ng-style='{width:"80%"}'
                    ng-model='note.n'>
                <span class='buttons'>
                    <span class='button' ng-click='cancelEditTitle(note)'>&nbsp;Cancel&nbsp;</span>
                    <span class='button' ng-click='saveTitle(note)'>&nbsp;Save&nbsp;</span>
                </span>
            </span>
        </div>
        <div ng-show='note.d' class='notebody' 
            ng-dblclick='editText(note)'>
            <div ng-show='note.d&&!note._editingText'>{{note.t}}</div>
            <div ng-show='note.d&&note._editingText'>
                <textarea name='noteBody' ng-style='{width:"95%"}'
                    ng-model='note.t'></textarea>
                <span class='buttons'>
                    <span class='button' ng-click='cancelEditText(note)'>&nbsp;Cancel&nbsp;</span>
                    <span class='button' ng-click='saveText(note)'>&nbsp;Save&nbsp;</span>
                </span>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
/* Note attributes:
    a b:background c:color d:displayText e f g h:height i:id
    j k l m n:title o p q r s t:text u v w:width x:left y:top z:zindex
s:selected
e:error editing editable
o:opacity
*/

window.app = angular.module('NoteSoup', ['ui']);

function NotebookController($scope, $timeout, $window) {
    var sampleNotes = [
        {i:'n1', x:100, y:100, n:'first note', t:'text of first note'},
        {i:'n2', x:200, y:200, n:'second note', t:'text of second note', c:'blue'},
        {i:'n3', x:300, y:300, n:'third note', t:'text of third note', b:'lightgreen'},
        {i:'n4', x:400, y:400, n:'fourth note', t:'text of fourth note', b:'blue', c:'white'},
        {i:'n5', x:500, y:500, n:'fifth note', t:'text of fifth note', b:'lightgreen', c:'lightgray'},
        {i:'n6', x:600, y:600, n:'sixth note', t:'text of sixth note', b:'magenta'}
    ];
    
    $scope.defaultNote = {
        w:150, b:'yellow', c:'black',
    };

    $scope.notes = {};
    $scope.appName = 'notesoup'
    $scope.path = 'inbox';

    $scope.updateNote = function(note) {
        if (!$scope.notes.hasOwnProperty(note.i)) {
            var newNote = {};
            newNote.__proto__ = $scope.defaultNote;
            $scope.notes[note.i] = newNote;
        }
        angular.extend($scope.notes[note.i], note);
    };

    $scope.loadSampleNotes = function() {
        angular.forEach(sampleNotes, function(sampleNote, index) {
            $scope.updateNote(sampleNote);
        });
    };

    // localStorage key for a note
    $scope.getKey = function(note) {
        return [$scope.appName, $scope.path, note.i].join('/');
    };
    $scope.loadNotesFromLocalStorage = function(path) {
        var allKeys = Object.keys(localStorage);
        angular.forEach(allKeys, function(key, index) {
            var keyParts = key.split('/');
            if (keyParts[0] != $scope.appName) return;
            if (keyParts[1] != path) return;
            var note = JSON.parse(localStorage[key]);
console.log('loading:', key, note);
            $scope.updateNote(note);
        });
    };

    $scope.loadNotes = function() {
        //$scope.loadSampleNotes();
        $scope.loadNotesFromLocalStorage($scope.path);
    };
    $scope.loadNotes();
    console.log('Notes:', $scope.notes);

    $scope.saveNote = function(note) {
        var key = $scope.getKey(note);
console.log('saving', key, note, localStorage);
        localStorage.setItem(key, JSON.stringify(note));
    };
    $scope.deleteNote = function(note) {
        //localStorage.removeItem($scope.getKey(note.id));
        //delete $scope.notes[note.id];
    };

    $scope.toggleText = function(note) {
        if (note.d) delete note.d;
        else note.d = 1;
        $scope.saveNote(note);
    };

    //$scope.getNote(id, callback) {
    //   if ($scope.notes.hasOwnProperty(id)) 
    //        callback($scope.notes[id]);
    //};

    $scope.runClock = function() {
        $scope.notes['n3'].n = new Date();
        $scope.notes['n2'].x = $scope.notes['n2'].x + Math.floor((Math.random()*20)-10); 
        $timeout($scope.runClock, 1000);
    }
    //$scope.runClock();

    // drag and drop
    $scope.stopEvent = function(event) {
        var e = event.originalEvent;
        if (e.preventDefault) {
            e.preventDefault();     // Necessary. Allows us to drop.
        }
    };
    $scope.draggedNoteElement = null;
    $scope.draggedNoteId = null;
    $scope.dragstart = function(event) {
        var e = event.originalEvent;
        $scope.dragOffsetX = e.offsetX;
        $scope.dragOffsetY = e.offsetY;
        $scope.draggedNoteElement = e.target;
        var id = $scope.draggedNoteElement.id;
        if (!id.match(/^note_/)) alert('Bogus note id');
        $scope.draggedNoteId = id.slice(5);
        $scope.draggedNoteElement.style.opacity = 0.4;
        //console.log('dragstart', event);
    };
    $scope.dragover = function(event) {
        $scope.stopEvent(event);
        //console.log('dragover', event);
    };
    $scope.dragenter = function(event) {
        // this / e.target is the current hover target.
        event.originalEvent.target.classList.add('over');
        //console.log('dragenter:', event);
    };
    $scope.dragleave = function(event) {
        event.originalEvent.target.classList.remove('over');
        //console.log('dragleave', event);
    };
    $scope.drag = function(event) { 
        //console.log('drag', event); 
    };
    $scope.drop = function(event) {
        $scope.stopEvent(event);
        $scope.draggedNoteElement.style.opacity = 1.0;
        var e = event.originalEvent;
        var target = e.target;
        var id = target.id;
        if (!id.match(/^note_/)) {  // drop on workspace
            //console.log('drop on workspace');
            // update note position
            // BUG: this updates the scope, but not the location of the notes
            // TODO: handle page scroll offset
            $scope.notes[$scope.draggedNoteId].x = e.x - $scope.dragOffsetX + $window.pageXOffset;
            $scope.notes[$scope.draggedNoteId].y = e.y - $scope.dragOffsetY + $window.pageYOffset;

            // TODO: why doesn't Angular move the element when the model updates?
            angular.element($scope.draggedNoteElement).css({
                left: $scope.notes[$scope.draggedNoteId].x,
                top: $scope.notes[$scope.draggedNoteId].y
            });
            $scope.saveNote($scope.notes[$scope.draggedNoteId]);
        }
        else {        
            // TODO: drop on note
            return;
            var droppedNoteId = id.slice(5);
            console.log('dropped on note', droppedNoteId);
            $scope.notes[droppedNoteId].t += [
                '<p>', $scope.notes[$scope.draggedNoteId].n, '</p>\n',
                '<p>', $scope.notes[$scope.draggedNoteId].t, '</p>'
            ].join('');
        }
        return false;
    };
    $scope.dragend = function(event) { 
       // this/e.target is the source node.
        var e = event.originalEvent;
        //console.log('dragend', event);  
        return false;
    };

    $scope.newNoteId = function() {
        // TODO: check for collisions and retry
        var id = 'N' + Math.floor(Math.random()*1000000);
        return id;
    };
    $scope.nextX = 24;
    $scope.nextY = 24;
    $scope.nextIncrement = 24;
    $scope.nextXPos = function() {
        $scope.nextX += $scope.nextIncrement;
        return $scope.nextX;
    };
    $scope.nextYPos = function() {
        $scope.nextY += $scope.nextIncrement;
        return $scope.nextY;
    };

    // add note
    $scope.addNoteFromForm = function() {
        // called from commandBar form, so 'this' is $scope here
        var newNote = {
            i: $scope.newNoteId(),
            n: this.newNoteText,
            x: $scope.nextXPos(),
            y: $scope.nextYPos()
        };
        this.newNoteText = '';
        this.updateNote(newNote);
        this.saveNote(this.notes[newNote.i]);
    };

    // edit title of note
    $scope.editTitle = function(note) {
        note._saved_title = note.n;
        note._editingTitle = 1;
    };
    $scope.cancelEditTitle = function(note) {
        note.n = note._saved_title;
        delete note._saved_title;
        delete note._editingTitle;
    };
    $scope.saveTitle = function(note) {
        delete note._saved_title;   // could keep this for undo
        delete note._editingTitle;
        $scope.saveNote(note);
    };

    // edit text of note
    $scope.editText = function(note) {
        note._saved_text = note.t;
        note._editingText = 1;
    };
    $scope.cancelEditText = function(note) {
        note.t = note._saved_text;
        delete note._saved_text;
        delete note._editingText;
    };
    $scope.saveText = function(note) {
        delete note._saved_text;   // could keep this for undo
        delete note._editingText;
        $scope.saveNote(note);
    };
};
</script>

</body>
</html>