<!doctype HTML>
<html>
<!-- Copyright 2013 by Bill Roy.  Use under MIT License. -->
<head>
<title>note soup</title>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'></script>
<script src='http://code.angularjs.org/1.1.5/angular.min.js'></script>
<script src='js/ui-utils/modules/event/event.js'></script>
<script src='js/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js'></script>

<link href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' 
    rel='stylesheet'/>
<link href='js/angular-bootstrap-colorpicker/css/colorpicker.css' rel='stylesheet'/>

<style type='text/css'>
body {
    background-color: black;
}
.notebook {
    width: 2048px;
    height:2048px;
}
.note {
    position: absolute;
	text-align: left;
	cursor: move;
}
.titlebar {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}
.notetitle {
	font-size: 100%;
    font-weight: bold;
	text-align: left;
}
.notebody {
    font-size: 80%;
    margin: -0.1em 0.5em 0 0.5em;
    padding: 0.5em 1em 1em 1em;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 6px 6px;
}
.over {
    border: 1px red dashed;
}
input[type=text] {
    border-radius: 6px;
    border: 0;
}
textarea {
    border-radius: 6px;
    border: 0;
}
.button {
    color: white !important;
    background: black;
    font-size: 0.8em;
    border-radius: 3px;
    cursor:pointer;
}
.buttons {
    margin: 0 2em 0 2em;
}
.menu {
    position: absolute;
    background: white;
    color: black;
    z-index: 10000;
    border: 1px solid black;
    border-radius: 4px;
}
.menu div {
    margin: .25em 0 .25em 0;
    padding: 0 .25em 0 .25em;
    cursor:default;
}
.menu div.highlight {
    background: blue;
    color: white;
}
div.rule {
    width: 90%;
    height: 2px;
    border: 0;
    background-color: lightgray;
    margin-top: 6px;
    margin-bottom: 6px;
}
.commandBar {
    background: black;
    color: white;
    width: 1024px;
    height: 42px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 0 0 0 0;
}
.logo {
    float: left;
    text-align: center;
    width: 96px;
    margin: 12px 0 0 0;
}
.textInput {
    background: white;
    width: 512px;
    color: blue;
    float: left;
    margin: 6px 0 0 6px;
    height: 24px;
}
.workspaceSelector {
    float: left;
    font-size: 0.8em;
    width: 96px;
    height: 18px;
    margin: 1em 1em 0 1em;
}
p {
    margin-bottom: 0em;
}
.colorPickerContainer {
    position: absolute;
    z-index: 15000;
}
</style>
</head>
<body ng-app='NoteSoup'>

<div ng-controller='NotebookController' class='notebook'
    droppable='true'
    ng-style='workspaceStyle()'
    ng-right-click='showWorkspaceMenu(workspace, $event)'
    ui-event='{
        dragstart:"dragstart($event)", 
        drag:"dragging($event)",
        dragover:"dragover($event)",
        dragenter:"dragenter($event)",
        dragleave:"dragleave($event)",
        drop:"drop($event)",
        dragend:"dragend($event)"
    }'>

    <div class='commandBar'>
        <div class='logo'>Note Soup</div>
        <select class='workspaceSelector' name='workspace' 
            ng-model='app.path'
            ng-options='w for w in workspaces'></select>
        <form name='commandEntry' ng-submit='addNoteFromForm()'>
            <input type='text' name='newNoteText' 
                class='textInput' ng-model='newNoteText'
                placeholder='{{inputPlaceholder()}}'/>
        </form>
    </div>

    <div ng-show='workspace.debug'>
        <p></p>
        <div>Workspace: {{workspace}}</div>
        <div>Notes: <div ng-repeat='note in notes'>{{note}}</div></div>
        <div>Color: {{pickedColor}}</div>
        <div>Resize: {{drag.resizing}}</div>
        <div>Picker: {{isColorPickerVisible()}}</div>
    </div>

    <div class='note' ng-repeat='note in notes' id='note_{{note.i}}'
        ng-style='noteStyle(note)'
        draggable='true'
        ui-event='{
            dragstart:"dragstart($event)", 
            drag:"dragging($event)",
            dragover:"dragover($event)",
            dragenter:"dragenter($event)",
            dragleave:"dragleave($event)",
            drop:"drop($event)",
            dragend:"dragend($event)"
        }'>
        <div class='titlebar'
            ng-right-click='showNoteMenu(note, $event)'
            ng-mouseover='mouseover(note, $event)'
            ng-mouseleave='mouseleave(note, $event)'
            ng-style='noteTitleStyle(note)'>
            <span style='cursor:pointer' ng-click='toggleText(note)'>
                <svg ng-hide='note.d' width='12' height='12'>
                    <circle cx='8' cy='7' r='2' 
                        ng-style='{fill:note.c, stroke:note.c}'/>
                </svg>
<!--
                <svg ng-hide='note.d' width='12' height='12'>
                    <path d='M4,3L8,6L4,9Z'
                        style='fill:#000; stroke:#000;'/>
                </svg>
-->
                <svg ng-show='note.d' width='12' height='12'>
                    <path d='M4,5L7,9L10,5Z'
                        ng-style='{fill:note.c, stroke:note.c}'/>
                </svg>
            </span>
            <span class='notetitle' 
                ng-dblclick='editTitle(note)'
                ng-hide='note._editingTitle'>{{note.n}}
            </span>
            <span ng-show='note._editingTitle'>
                <input type='text' name='noteTitle' ng-style='{width:"80%"}'
                    ng-model='note.n'>
                <span class='buttons'>
                    <span class='button' ng-click='cancelEditTitle(note)'>&nbsp;Cancel&nbsp;</span>
                    <span class='button' ng-click='saveTitle(note)'>&nbsp;Save&nbsp;</span>
                </span>
            </span>
        </div>
        <div ng-show='note.d' class='notebody' 
            ng-right-click='showNoteMenu(note, $event)'
            ng-mouseover='mouseover(note, $event)'
            ng-mouseleave='mouseleave(note, $event)'
            ng-dblclick='editText(note)'>
            <div ng-show='note.d&&!note._editingText' ng-bind-html-unsafe='renderBody(note)'></div>
            <div ng-show='note.d&&note._editingText'>
                <textarea name='noteBody' ng-style='{width:"95%"}'
                    ng-model='note.t'></textarea>
                <span class='buttons'>
                    <span class='button' ng-click='cancelEditText(note)'>&nbsp;Cancel&nbsp;</span>
                    <span class='button' ng-click='saveText(note)'>&nbsp;Save&nbsp;</span>
                </span>
            </div>
        </div>
    </div>

    <div class='menu' id='noteMenu' 
        ng-show='menu.showingNoteMenu'
        ng-mouseleave='hideMenu()'>
        <div ng-repeat='item in noteMenu'>
            <div ng-hide='item.s'
                ng-click='{{item.x}}'
                ng-class='overclass'
                ng-mouseenter='overclass="highlight"'
                ng-mouseleave='overclass=""'>{{item.t}}
            </div>
            <div ng-show='item.s' class='rule'></div>
        </div>
    </div>

    <div class='menu' id='workspaceMenu'
        ng-show='menu.showingWorkspaceMenu'
        ng-mouseleave='hideMenu()'>
        <div ng-repeat='item in workspaceMenu'>
            <div ng-hide='item.s'
                ng-click='{{item.x}}'
                ng-class='overclass'
                ng-mouseenter='overclass="highlight"'
                ng-mouseleave='overclass=""'>{{item.t}}
            </div>
            <div ng-show='item.s' class='rule'></div>
        </div>
    </div>

    <div class='colorPickerContainer' ng-show='showingColorPicker'>
        <span colorpicker='hex' 
            colorpicker-position='right' 
            class='colorPickerPlaceholder span2' ng-model='pickedColor'></span>
    </div>
</div>

<!-- drag image -->
<svg class='dragImage' width='1' height='1'>
    <path d='M1,1'/>
</svg>

<script type='text/javascript'>
/* Note attributes:
    a b:background c:color d:displayText e f g h:height i:id
    j k l m n:title o p q r s t:text u v w:width x:left y:top z:zindex
s:selected
e:error editing editable
o:opacity
*/

window.app = angular.module('NoteSoup', ['ui.event', 'colorpicker.module']);

// from http://jsfiddle.net/bcaudan/vTZZ5/
app.directive('ngRightClick', function($parse) {
    return function(scope, element, attrs) {
        var fn = $parse(attrs.ngRightClick);
        element.bind('contextmenu', function(event) {
            scope.$apply(function() {
                event.preventDefault();
                fn(scope, {$event:event});
            });
        });
    };
});

function NotebookController($scope, $timeout, $window) {

    var sampleNotes = [
        {i:'n1', x:100, y:100, n:'first note', t:'text of first note'},
        {i:'n2', x:200, y:200, n:'second note', t:'text of second note', c:'blue'},
        {i:'n3', x:300, y:300, n:'third note', t:'text of third note', b:'lightgreen'},
        {i:'n4', x:400, y:400, n:'fourth note', t:'text of fourth note', b:'blue', c:'white'},
        {i:'n5', x:500, y:500, n:'fifth note', t:'text of fifth note', b:'lightgreen', c:'lightgray'},
        {i:'n6', x:600, y:600, n:'sixth note', t:'text of sixth note', b:'magenta'}
    ];

    $scope.setDebug = function(value) {
        $scope.workspace.debug = value;
        $scope.saveWorkspace();
    };

    $scope.app = {
        appName: 'notesoup',
        path: 'inbox'
    };

    $scope.notes = {};
    $scope.workspaceId = 'Workspace';

    $scope.defaultWorkspace = {
        i: $scope.workspaceId,
        debug: false,
        b:'lightgray',
        grid: 24,
        defaultNote: {
            w:150, b:'lightyellow', c:'black', 'z-index':0
        }
    };
    $scope.workspace = {};
    angular.copy($scope.defaultWorkspace, $scope.workspace);
    
    $scope.workspaceStyle = function() {
        return {background: $scope.workspace.b};
    };

    $scope.noteStyle = function(note) {
        return {
            color: note.c,
            'border-color': note.c,
            left: note.x, 
            top: note.y, 
            width: note.w,
            cursor: $scope.drag.resizable ? 'col-resize' : 'move',
            'z-index': note.z || 0
        }
    };

    $scope.noteTitleStyle = function(note) {
        return {
            background: note.b
        }
    };

    $scope.nextNoteId = 1;
    $scope.newNoteId = function() {
        while ($scope.notes.hasOwnProperty('N' + $scope.nextNoteId)) {
            $scope.nextNoteId++;
        }
        return 'N' + $scope.nextNoteId;
    };

    $scope.topZ = function() {
        var topz = 0;
        angular.forEach($scope.notes, function(note, index) {
            if (note.hasOwnProperty('z')) {
                if (note.z > topz) topz = note.z;
            }
        });
        return topz;
    };

    $scope.toTop = function(note) {
        note.z = $scope.topZ() + 1;   // caller must saveNote() to make this stick
    };

    $scope.updateNote = function(note) {
        if (!$scope.notes.hasOwnProperty(note.i)) {
            var newNote = {};
            newNote.__proto__ = $scope.workspace.defaultNote;
            $scope.notes[note.i] = newNote;
        }
        angular.extend($scope.notes[note.i], note);

        var id = parseInt(note.i.slice(1));
        if (id > $scope.nextNoteId) $scope.nextNoteId = id + 1;
    };

    $scope.loadSampleNotes = function() {
        angular.forEach(sampleNotes, function(sampleNote, index) {
            $scope.updateNote(sampleNote);
        });
    };

    // localStorage key for any object with a .i field
    // path is optional; defaults to app.path
    $scope.getKey = function(obj, path) {
        return [$scope.app.appName, path ? path : $scope.app.path, obj.i].join('/');
    };
    
    // load notes from localStorage
    $scope.loadNotes = function() {
        var allKeys = Object.keys(localStorage);
        angular.forEach(allKeys, function(key, index) {
            var keyParts = key.split('/');
            if (keyParts[0] != $scope.app.appName) return;
            if (keyParts[1] != $scope.app.path) return;
            if (keyParts[2][0] == 'N') {
                var note = JSON.parse(localStorage[key]);
                $scope.updateNote(note);
            }
            else if (keyParts[2] == $scope.workspaceId) {
                angular.copy($scope.defaultWorkspace, $scope.workspace);
                angular.extend($scope.workspace, JSON.parse(localStorage[key]));
            }
            else { 
                alert('Deleting unexpected item in workspace storage:' + key + '/' + localStorage[key]); 
                localStorage.removeItem(key);
            }
        });
    };
    //$scope.loadSampleNotes();
    $scope.loadNotes();

    // save note to optional path
    $scope.saveNote = function(note, path) {
        var key = $scope.getKey(note, path);
        try {
            localStorage.setItem(key, JSON.stringify(note));
        } catch(e) {
            alert('ERROR: Could not save object!  Increase LocalStorage!');
        }
    };

    $scope.deleteNote = function(note) {
        localStorage.removeItem($scope.getKey(note));
        delete $scope.notes[note.i];
    };
    
    $scope.sendNote = function(note, path) {
        if (!path) return;  // TODO: Validate path for newWorkspace
        // todo: for multi-workspace, move the note in $scope.workspaces
        $scope.saveNote(note, path);
        $scope.deleteNote(note);
    };
    
    $scope.deleteAllNotes = function() {
        if (!confirm('Really delete all notes?')) return;
        angular.forEach($scope.notes, function(note, index) {
            $scope.deleteNote(note);
        });
        $scope.nextNoteId = 1;
    };

    $scope.workspaces = ['inbox', 'trash'];
    
    $scope.saveWorkspace = function() {
        $scope.saveNote($scope.workspace);        
    };

    $scope.toggleText = function(note) {
        if (note.d) delete note.d;
        else note.d = 1;
        $scope.saveNote(note);
    };

    // mouse pointer indication
    $scope.mouseover = function(note, event) {
        if ($scope.inResizeZone(note, event)) {
            $scope.drag.resizable = 1;
        }
        else delete $scope.drag.resizable;
    };
    $scope.mouseleave = function(note, event) {
        delete $scope.drag.resizable;
    };

    // drag and drop
    $scope.stopEvent = function(event) {
        var e = event.originalEvent;
        if (e.preventDefault) {
            e.preventDefault();     // Necessary. Allows us to drop.
        }
    };

    $scope.resizeMargin = 36;
    $scope.inResizeZone = function(note, event) {
        var e = event.originalEvent;
        return (e.offsetX > (note.w - $scope.resizeMargin));
    };

    $scope.drag = {};

    $scope.dragstart = function(event) {
        if ($scope.drag.active) return true;

        var e = event.originalEvent;
        var id = e.target.id;
        if (!id.match(/^note_/)) {
            alert('Bogus note id');
            return true;
        }
        id = id.slice(5);
        if (!$scope.notes.hasOwnProperty(id)) {
            alert('Unknown note id');
            return true;
        }
        var note = $scope.notes[id];
        $scope.toTop(note);

        e.dataTransfer.dropEffect = 'move';
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setDragImage(angular.element('.dragImage')[0], 0, 0);

        if ($scope.inResizeZone(note, event)) {
            $scope.drag.resizing = true;
            $scope.drag.startingWidth = note.w;
        }
        else {
            if ($scope.workspace.grid && !e.shiftKey) $scope.snapToGrid(note);
            e.target.style.opacity = 0.8;
        }

        angular.extend($scope.drag, {
            startingX: note.x,      // starting note position
            startingY: note.y,
            offsetX: e.offsetX,     // cursor offset within note at mousedown
            offsetY: e.offsetY,
            noteElement: e.target,
            noteId: id,
            active: true,
        });
        return false;
    };

    $scope.dragover = function(event) {
        //console.log('dragover', event);
        $scope.stopEvent(event);
        return false;
    };
    $scope.dragenter = function(event) {
        // this / e.target is the current hover target.
        //event.originalEvent.target.classList.add('over');
        //console.log('dragenter:', event);
        $scope.stopEvent(event);
        return false;
    };
    $scope.dragleave = function(event) {
        //event.originalEvent.target.classList.remove('over');
        //console.log('dragleave', event);
    };

    $scope.snapToGrid = function(note) {
        var grid = $scope.workspace.grid;
        if (grid) {
            note.x = grid * Math.floor(note.x / grid);
            note.y = grid * Math.floor(note.y / grid);
        }
    };

    $scope.dragging = function(event) {
        var e = event.originalEvent;
        var dragNote = $scope.notes[$scope.drag.noteId];
        var grid = $scope.workspace.grid;

        if ($scope.drag.resizing) {
            var dx = e.offsetX - $scope.drag.offsetX;
            var newWidth = $scope.drag.startingWidth + dx;
            if (newWidth < 48) newWidth = 48;
            dragNote.w = newWidth;
        }
        else {
            var newx = e.x - $scope.drag.offsetX + $window.pageXOffset;
            var newy = e.y - $scope.drag.offsetY + $window.pageYOffset;
            var dx = newx - $scope.drag.startingX;
            var dy = newy - $scope.drag.startingY;
			if (grid && !e.shiftKey) {
			    dx = grid * Math.floor(dx / grid);
    			dy = grid * Math.floor(dy / grid);
			}
            dragNote.x = Math.max(0, $scope.drag.startingX + dx);
			dragNote.y = Math.max(0, $scope.drag.startingY + dy);
            //$scope.notes[$scope.drag.noteId].x = e.x - $scope.drag.x + $window.pageXOffset;
            //$scope.notes[$scope.drag.noteId].y = e.y - $scope.drag.y + $window.pageYOffset;
        }
        //console.log('drag', event); 
    };
    $scope.drop = function(event) {
        $scope.stopEvent(event);
        if (!$scope.drag.active) return;
        $scope.drag.noteElement.style.opacity = 1.0;
        var e = event.originalEvent;
        var target = e.target;
        var id = target.id;
        if ($scope.drag.resizing) {
            $scope.saveNote($scope.notes[$scope.drag.noteId]);
            $scope.drag = {};
        }
        else if (!id.match(/^note_/)) {  // drop on workspace
            //$scope.notes[$scope.drag.noteId].x = e.x - $scope.drag.x + $window.pageXOffset;
            //$scope.notes[$scope.drag.noteId].y = e.y - $scope.drag.y + $window.pageYOffset;
            $scope.saveNote($scope.notes[$scope.drag.noteId]);
            $scope.drag = {};
        }
        else {        
            // TODO: drop on note
            $scope.drag = {};
            alert('Zombie drag.');
            return false;
            var droppedNoteId = id.slice(5);
            console.log('dropped on note', droppedNoteId);
            $scope.notes[droppedNoteId].t += [
                '<p>', $scope.notes[$scope.draggedNoteId].n, '</p>\n',
                '<p>', $scope.notes[$scope.draggedNoteId].t, '</p>'
            ].join('');
        }
        return false;
    };
    $scope.dragend = function(event) { 
       // this/e.target is the source node.
        var e = event.originalEvent;
        //console.log('dragend', event);  
        return false;
    };

    $scope.nextX = 24;
    $scope.nextY = 24;
    $scope.nextIncrement = 24;
    $scope.nextXPos = function() {
        $scope.nextX += $scope.nextIncrement;
        return $scope.nextX;
    };
    $scope.nextYPos = function() {
        $scope.nextY += $scope.nextIncrement;
        return $scope.nextY;
    };

    $scope.countNotes = function() {
        var count = 0;
        angular.forEach($scope.notes, function (note, index) { count++; });
        return count;
    };

    $scope.inputPlaceholder = function() {
        var count = $scope.countNotes()
        if (count == 0) return 'Type title/text here and press Enter to create a new note.';
        else if (count == 1) return 'Right-click on a note or the workspace for a menu.';
        return '';
    };

    // add note via command bar
    $scope.addNoteFromForm = function() {
        // called from commandBar form, so 'this' is $scope here
        if (this.newNoteText[0] == '.') {           // command
            try {
                eval('$scope.' + this.newNoteText.slice(1));
            } catch(e) {
                console.log('Error:', e);
            }
            this.newNoteText = '';
        }
        else if (this.newNoteText[0] == '{') {     // json note
            var newNote = JSON.parse(this.newNoteText);
            newNote.i = $scope.newNoteId();
            $scope.updateNote(newNote);
            $scope.saveNote($scope.notes[newNote.i]);
            this.newNoteText = '';            
        }
        else if (this.isUrl.test(this.newNoteText)) {   // image note
            var newNote = {};
            angular.extend(newNote, {
                i: this.newNoteId(),
                d: 1,
                t: this.newNoteText,
                x: this.nextXPos(),
                y: this.nextYPos(),
                z: this.topZ() + 1
            });
            this.updateNote(newNote);
            this.saveNote(this.notes[newNote.i]);
            this.newNoteText = '';            
        }
        else {
            if (this.newNoteText.length == 0) return;
            var lines = this.newNoteText.split('/');
            var newNote = {
                i: $scope.newNoteId(),
                n: lines[0],
                x: $scope.nextXPos(),
                y: $scope.nextYPos(),
                z: this.topZ() + 1
            };
            if (lines.length > 1) {
                // html in the body: replace the slashes
                if (lines[1][0] == '<') newNote.t = lines.slice(1).join('/');
                else newNote.t = lines.slice(1).join('\n');
                newNote.d = 1;
            }
            this.updateNote(newNote);
            this.saveNote(this.notes[newNote.i]);
            this.newNoteText = '';
        }
    };

    // edit title of note
    $scope.editTitle = function(note) {
        note._saved_title = note.n;
        note._editingTitle = 1;
    };
    $scope.cancelEditTitle = function(note) {
        note.n = note._saved_title;
        delete note._saved_title;
        delete note._editingTitle;
    };
    $scope.saveTitle = function(note) {
        delete note._saved_title;   // could keep this for undo
        delete note._editingTitle;
        $scope.saveNote(note);
    };

    // edit text of note
    $scope.editText = function(note) {
        note._saved_text = note.t;
        note.d = 1;
        note._editingText = 1;
    };
    $scope.cancelEditText = function(note) {
        note.t = note._saved_text;
        delete note._saved_text;
        delete note._editingText;
    };
    $scope.saveText = function(note) {
        delete note._saved_text;   // could keep this for undo
        delete note._editingText;
        $scope.saveNote(note);
    };

    $scope.duplicateNote = function(note) {
        var newNote = {};
        angular.extend(newNote, note);
        angular.extend(newNote, {
            i: $scope.newNoteId(),
            x: newNote.x + 24,
            y: newNote.y + 24
        });
        $scope.updateNote(newNote);
        $scope.saveNote(newNote);
    };

    $scope.isUrl = /^(http:|https:)/;
    $scope.isImg = /(.jpg|.jpeg|.png|.gif|.tiff)$/;

    $scope.renderBody = function(note) {
        if (!note.t) return '';
        if ($scope.isUrl.test(note.t)) {    // image url
            if ($scope.isImg.test(note.t)) {
                return '<img src="' + note.t + '" width="' + note.w + '"/>';
            }
        }
        if (note.t[0] == '<') return note.t;    // html body
        var lines = note.t.split('\n');
        return '<p>' + lines.join('</p>\n<p>') + '</p>';    // else htmlify body
    };

    $scope.noteMenu = [
        {t:'Edit Note Body',        x:'editText(menu.selectedNote);hideMenu()'},
        {t:'Edit Note Title',       x:'editTitle(menu.selectedNote);hideMenu()'},
        {s:1},
        {t:'Set Text Color',        x:'setNoteColor("c", menu.selectedNote, $event);hideMenu()'},
        {t:'Set Background Color',  x:'setNoteColor("b", menu.selectedNote, $event);hideMenu()'},
        {s:1},
        {t:'Duplicate Note',        x:'duplicateNote(menu.selectedNote);hideMenu()'},
        {s:1},
        {t:'Delete Note',           x:'deleteNote(menu.selectedNote);hideMenu()'}
    ];
    
    $scope.workspaceMenu = [
        {t:'Set Workspace Background',      x:'setWorkspaceColor("b", workspace, $event);hideMenu()'},
        {s:1},
        {t:'Set Default Note Color',        x:'setDefaultNoteColor("c", workspace.defaultNote, $event);hideMenu()'},
        {t:'Set Default Note Background',   x:'setDefaultNoteColor("b", workspace.defaultNote, $event);hideMenu()'},
        {s:1},        
        {t:'Delete All Notes',              x:'deleteAllNotes();hideMenu()'},
        {s:1},
        {t:'Toggle Debug',                  x:'setDebug(!!workspace.debug)'}
    ];

    $scope.menu = {};

    $scope.showNoteMenu = function(note, event) {
        event.preventDefault();
        event.stopPropagation();
        angular.extend($scope.menu, {
            selectedNote: note,
            showingNoteMenu: true,
            x: event.clientX,
            y:event.clientY
        });

        // TODO: position the menu with an ng-style so this isn't needed
        angular.element('#noteMenu').css({
            left: $scope.menu.x,
            top: $scope.menu.y
        });
    };

    $scope.showWorkspaceMenu = function(workspace, event) {
        angular.extend($scope.menu, {
            workspace: workspace,
            showingWorkspaceMenu: true,
            x: event.clientX,
            y:event.clientY
        });

        // TODO: position the menu with an ng-style so this isn't needed
        angular.element('#workspaceMenu').css({
            left: $scope.menu.x,
            top: $scope.menu.y
        });
    };

    $scope.pickedColor = '';

    $scope.showColorPicker = function(event) {
        $scope.showingColorPicker = true;
        angular.element('.colorPickerPlaceholder').click();
        angular.element('.colorpicker').css({
            left: $scope.menu.x,
            top: $scope.menu.y
        });        
    };

    $scope.isColorPickerVisible = function() {
        return $('.colorpicker-visible').length > 0;
    };

    $scope.setNoteColor = function(attr, note, event) {
        $scope.setObjectColor(attr, note, event, function(note) {
            $scope.saveNote(note);
        });
    };

    $scope.setWorkspaceColor = function(attr, obj, event) {
        $scope.setObjectColor(attr, obj, event, function(workspace) {
            $scope.saveWorkspace();
        });
    };

    $scope.setDefaultNoteColor = function(attr, note, event) {
        $scope.setObjectColor(attr, note, event, function(note) {
            $scope.saveWorkspace();
        });
    };
    
    $scope.setObjectColor = function(attr, obj, event, callback) {
        $scope.pickedColor = obj[attr];
        $scope.showColorPicker(event);

        // watch pickedColor and update note[attr]
        var colorWatch = $scope.$watch('pickedColor', function(newValue, oldValue) {
            if (newValue === oldValue) return;
            obj[attr] = newValue;
        });

        // watch isColorPickerVisible to become false and saveNote
        // $watch doesn't work here until Angular sees an event later
        var checkInterval = 100;
        var pickerLastState = $scope.isColorPickerVisible();
        var watchPickerDisappear = function() {
            var pickerNewState = $scope.isColorPickerVisible();
            if (pickerLastState && !pickerNewState) {   // look for falling edge
                if (callback) callback(obj);    // fire the callback
                colorWatch();       // stop watching color: call the remove() function
            }
            else {
                $timeout(watchPickerDisappear, checkInterval);
            }
        };
        watchPickerDisappear();
    };

    $scope.hideMenu = function() {
        $scope.menu = {};
    };

};
</script>

</body>
</html>
