<!doctype HTML>
<html>
<!-- Copyright 2013 by Bill Roy.  Use under MIT License. -->
<head>
<title>Soup7</title>
<script src='js/jquery/1.10.2/jquery.min.js'></script>
<script src='js/jqueryui/1.10.3/jquery-ui.min.js'></script>
<script src='js/angular/1.1.5/angular.min.js'></script>
<script src='js/ui-utils/modules/event/event.js'></script>
<script src='js/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js'></script>
<script src='js/FileSaver.js/FileSaver.js'></script>
<script src='js/Blob.js/Blob.js'></script>

<link href='css/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet'/>
<link href='js/angular-bootstrap-colorpicker/css/colorpicker.css' rel='stylesheet'/>

<style type='text/css'>
body {
    background-color: black;
    padding-left: 0px;
}
.workspace {
    width: 2048px;
    height:2048px;
}
.commandBar {
    position: absolute;
    background: black;
    color: white;
    height: 42px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 0 0 0 0;
    z-index: 10000;
}
.logo {
    font-size: 1.2em;
    float: left;
    margin: 12px 0 0 0.5em;
}
.workspaceSelector {
    float: left;
    width: 144px;
    font-size: 0.9em;
    margin: .5em 1em 0 1em;
    border-radius: 6px;
}
.textInput {
    background: white;
    color: blue;
    float: left;
    width: 50%;
    margin: 6px 0 0 6px;
    border-radius: 6px;
}
.note {
    position: absolute;
	text-align: left;
	cursor: move;
}
.titlebar {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}
.notetitle {
	font-size: 100%;
    font-weight: bold;
	text-align: left;
}
.notebody {
    font-size: 80%;
    margin: -0.1em 0.5em 0 0.5em;
    padding: 0.5em 1em 1em 1em;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 6px 6px;
}
.over {
    border: 1px red dashed;
}
input[type=text] {
    border-radius: 6px;
    border: 0;
}
textarea {
    border-radius: 6px;
    border: 0;
}
.button {
    color: white !important;
    background: black;
    font-size: 0.8em;
    border-radius: 3px;
    cursor:pointer;
}
.buttons {
    margin: 0 2em 0 2em;
}
.menu {
    position: absolute;
    background: white;
    color: black;
    z-index: 10000;
    border: 1px solid black;
    border-radius: 4px;
}
.menu div {
    margin: .25em 0 .25em 0;
    padding: 0 .25em 0 .25em;
    cursor:default;
}
.menu div.highlight {
    background: blue;
    color: white;
}
div.rule {
    width: 90%;
    height: 2px;
    border: 0;
    background-color: lightgray;
    margin-top: 6px;
    margin-bottom: 6px;
}
p {
    margin-bottom: 0em;
}
.colorPickerContainer {
    position: absolute;
    z-index: 15000;
}
.debug {
    margin: 3em 0 0 1em;
}
</style>
</head>
<body ng-app='Soup7'>

<div ng-controller='WorkspaceController' class='workspace'
    ng-style='workspaceStyle()'
    ng-right-click='showWorkspaceMenu(workspace, $event)'
    droppable='true'
    ui-event='{
        dragstart:"dragstart($event)", 
        drag:"dragging($event)",
        dragover:"dragover($event)",
        dragenter:"dragenter($event)",
        dragleave:"dragleave($event)",
        drop:"drop($event)",
        dragend:"dragend($event)"
    }'>

    <div class='commandBar' ng-style='commandBarStyle()'>
        <div class='logo'>&bull;&nbsp;Soup7</div>
        <select class='workspaceSelector' name='workspace' 
            ng-model='selectedWorkspace'
            ng-options='w for w in workspaces'></select>
        <form name='commandEntry' ng-submit='addNoteFromForm()'>
            <input type='text' name='newNoteText' 
                class='textInput' ng-model='newNoteText'
                placeholder='{{inputPlaceholder()}}'/>
        </form>
    </div>

    <div ng-show='workspace.debug' class='debug'>
        <div>Debug info:</div>
        <div>App: {{app}}</div>
        <div>workspaceName: {{selectedWorkspace}}</div>
        <div>Workspace: {{workspace}}</div>
        <div>Notes: <div ng-repeat='note in notes'>{{note}}</div></div>
        <div>Color: {{pickedColor}}</div>
        <div>Resize: {{drag.resizing}}</div>
        <div>Picker: {{isColorPickerVisible()}}</div>
    </div>

    <div class='note' ng-repeat='note in notes' id='note_{{note.i}}'
        ng-style='noteStyle(note)'
        draggable='true'
        ui-event='{
            dragstart:"dragstart($event)", 
            drag:"dragging($event)",
            dragover:"dragover($event)",
            dragenter:"dragenter($event)",
            dragleave:"dragleave($event)",
            drop:"drop($event)",
            dragend:"dragend($event)"
        }'>
        <div class='titlebar'
            ng-right-click='showNoteMenu(note, $event)'
            ng-mouseover='mouseover(note, $event)'
            ng-mouseleave='mouseleave(note, $event)'
            ng-style='noteTitleStyle(note)'>
            <div style='cursor:pointer; float:left' ng-click='toggleText(note)'>
                <svg ng-show='!note.d && !note.t' width='14' height='12'>
                    <circle cx='8' cy='7' r='2' 
                        ng-style='{fill:note.c, stroke:note.c}'/>
                </svg>
                <svg ng-show='!note.d && note.t' width='14' height='12'>
                    <path d='M4,3L8,6L4,9Z'
                        ng-style='{fill:note.c, stroke:note.c}'/>
                </svg>
                <svg ng-show='note.d' width='14' height='12'>
                    <path d='M4,5L7,9L10,5Z'
                        ng-style='{fill:note.c, stroke:note.c}'/>
                </svg>
            </div>
            <div class='notetitle' style='float:none'
                ng-dblclick='editTitle(note)'
                ng-hide='note._editingTitle'
                ng-bind-html-unsafe='note.n'>
            </div>
            <span ng-show='note._editingTitle'>
                <input type='text' name='noteTitle' ng-style='{width:"80%"}'
                    ng-model='note.n'>
                <span class='buttons'>
                    <span class='button' ng-click='cancelEditTitle(note)'>&nbsp;Cancel&nbsp;</span>
                    <span class='button' ng-click='saveTitle(note)'>&nbsp;Save&nbsp;</span>
                </span>
            </span>
        </div>
        <div ng-show='note.d' class='notebody' 
            ng-right-click='showNoteMenu(note, $event)'
            ng-mouseover='mouseover(note, $event)'
            ng-mouseleave='mouseleave(note, $event)'
            ng-dblclick='editText(note)'>
            <div ng-show='note.d&&!note._editingText' 
                ng-bind-html-unsafe='renderBody(note)'></div>
            <div ng-show='note.d&&note._editingText'>
                <textarea name='noteBody' ng-style='{width:"95%"}'
                    ng-model='note.t'></textarea>
                <span class='buttons'>
                    <span class='button' ng-click='cancelEditText(note)'>&nbsp;Cancel&nbsp;</span>
                    <span class='button' ng-click='saveText(note)'>&nbsp;Save&nbsp;</span>
                </span>
            </div>
        </div>
    </div>

    <div class='menu' id='workspaceMenu'
        ng-show='menu.showingWorkspaceMenu'
        ng-mouseleave='hideMenu()'>
        <div ng-repeat='item in workspaceMenu'>
            <div ng-hide='item.s'
                ng-click='{{item.x}}'
                ng-class='overclass'
                ng-mouseenter='overclass="highlight"'
                ng-mouseleave='overclass=""'>
                <i class='{{item.i}}'></i> {{item.t}}
            </div>
            <div ng-show='item.s' class='rule'></div>
        </div>
    </div>

    <div class='menu' id='noteMenu' 
        ng-show='menu.showingNoteMenu'
        ng-mouseleave='menu.showingSendToMenu ? 0 : hideMenu()'>
        <div ng-repeat='item in noteMenu'>
            <div ng-hide='item.s'
                ng-click='{{item.x}}'
                ng-class='overclass'
                ng-mouseenter='overclass="highlight"'
                ng-mouseleave='overclass=""'>
                <i class='{{item.i}}'></i> {{item.t}}
            </div>
            <div ng-show='item.s' class='rule'></div>
        </div>
    </div>

    <div class='menu' id='sendToMenu'
        ng-show='menu.showingSendToMenu'
        ng-mouseleave='hideMenu()'>
        <div ng-repeat='item in workspaces'>
            <div ng-click='sendNote(menu.selectedNote,item);hideMenu()'
                ng-class='overclass'
                ng-disabled='item==app.workspaceName'
                ng-mouseenter='overclass="highlight"'
                ng-mouseleave='overclass=""'>
                <i class=' icon-folder-close'></i> {{item}}
            </div>
        </div>
    </div>

    <div class='colorPickerContainer' ng-show='showingColorPicker'>
        <span colorpicker='hex' 
            colorpicker-position='right' 
            class='colorPickerPlaceholder span2' ng-model='pickedColor'></span>
    </div>

    <!-- drag image -->
    <svg class='dragImage' width='1' height='1'>
        <path d='M1,1'/>
    </svg>
</div>

<script type='text/javascript'>

/* Note attributes:
    a b:background c:color d:displayText e f g h:height i:id
    j k l m n:title o p q r s t:text u v w:width x:left y:top z:zindex
    maybe: o:opacity k:kind (workspace/svg) s:selected e:error editing editable
*/

window.app = angular.module('Soup7', ['ui.event', 'colorpicker.module']);

// from http://jsfiddle.net/bcaudan/vTZZ5/
app.directive('ngRightClick', function($parse) {
    return function(scope, element, attrs) {
        var fn = $parse(attrs.ngRightClick);
        element.bind('contextmenu', function(event) {
            scope.$apply(function() {
                event.preventDefault();
                fn(scope, {$event:event});
            });
        });
    };
});

function WorkspaceController($scope, $timeout, $window, $filter) {

    //
    // app
    //
    $scope.selectedWorkspace = 'todo';
    $scope.appLoaded = false;
    $scope.app = {
        appName: 'Soup7',
        workspaceName: 'todo',
        lastNoteId: 0
    };

    $scope.loadApp = function() {
        var app = localStorage[$scope.app.appName];
        if (app) {
            var appObj = JSON.parse(app);
            angular.extend($scope.app, appObj);
            $scope.selectedWorkspace = $scope.app.workspaceName;
        }
        // todo: validate app.workspaceName
        // todo: verify todo and trash exist; create if not
        $scope.openWorkspace();
        $scope.appLoaded = true;
    };

    $scope.saveApp = function() {
        try {
            localStorage.setItem($scope.app.appName, JSON.stringify($scope.app));
        } catch(e) {
            alert('ERROR: Could not save app!  Increase LocalStorage!');
        }
    };
    
    $scope.$watch('selectedWorkspace', function(newValue, oldValue) {
        if (!$scope.appLoaded) return;
        if (newValue == oldValue) return;
        if (true || newValue != $scope.app.workspaceName) {
            $scope.app.workspaceName = newValue;
            $scope.saveApp();
            location.reload();  // reboot to the new workspace
        }
    });

    $scope.workspaceId = 'Workspace';

    $scope.defaultWorkspace = {
        i: $scope.workspaceId,
        debug: false,
        b:'deepskyblue',
        grid: 24,
        defaultNote: {
            w:144, b:'lightyellow', c:'black', 'z-index':0
        }
    };
    $scope.workspace = {};
    angular.copy($scope.defaultWorkspace, $scope.workspace);

    $scope.workspaceStyle = function() {
        return {background: $scope.workspace.b};
    };

    $scope.setDebug = function(value) {
        $scope.workspace.debug = value;
        $scope.saveWorkspace();
    };

    //
    // notes
    //
    $scope.notes = {};

    $scope.noteStyle = function(note) {
        return {
            color: (note.c == '#ffffff') ? 'black' : note.c,
            'border-color': note.c,
            left: note.x, 
            top: note.y, 
            width: note.w,
            //opacity: note.o || 1.0,   // bug: angular update lag
            cursor: $scope.drag.resizable ? 'col-resize' : 'move',
            'z-index': note.z || 0
        }
    };

    $scope.noteTitleStyle = function(note) {
        return {
            color: note.c,
            background: note.b,
            'border-width': note.n ? 1 : 0      // no border if there's no title to avoid artifact
        }
    };

    $scope.newNoteId = function() {
        $scope.app.lastNoteId++;
        while ($scope.notes.hasOwnProperty('N' + $scope.app.lastNoteId)) {
            alert('Note ID collision:', $scope.app.lastNoteId);
            $scope.app.lastNoteId++;
        }
        $scope.saveApp();
        return 'N' + $scope.app.lastNoteId;
    };

    $scope.topZ = function() {
        var topz = 0;
        angular.forEach($scope.notes, function(note, index) {
            if (note.hasOwnProperty('z')) {
                if (note.z > topz) topz = note.z;
            }
        });
        return topz;
    };

    $scope.toFront = function(note) {
        note.z = $scope.topZ() + 1;
        $scope.saveNote(note);
    };

    $scope.toBack = function(note) {
        note.z = 0;
        $scope.saveNote(note);
    };

    $scope.compactZ = function() {
        var noteData = [];
        angular.forEach($scope.notes, function(note, index) {
            noteData.push({i:note.i, z:note.z});
        });
        
        noteData.sort(function(a, b){return a.z > b.z});

        angular.forEach(noteData, function(note, index) {
            $scope.notes[noteData[index].i].z = index;
            $scope.saveNote($scope.notes[noteData[index].i]);
        });
    };

    $scope.updateNote = function(note) {
        if (!$scope.notes.hasOwnProperty(note.i)) {
            var newNote = {};
            newNote.__proto__ = $scope.workspace.defaultNote;
            $scope.notes[note.i] = newNote;
        }
        angular.extend($scope.notes[note.i], note);
    };

    // during load, some notes are bound to the old (default) workspace object
    // re-attach all the prototypes here so chaining works for attribute inheritance
    $scope.setNotePrototypes = function() {
        angular.forEach($scope.notes, function(note, index) {
            note.__proto__ = $scope.workspace.defaultNote;
        });
    };

    // localStorage key for any object with a .i field
    // workspace is optional; defaults to app.workspaceName
    $scope.getKey = function(obj, workspaceName) {
        return [$scope.app.appName, workspaceName ? workspaceName : $scope.app.workspaceName, obj.i].join('/');
    };
    
    // load notes from localStorage
    $scope.openWorkspace = function() {
        var allKeys = Object.keys(localStorage);
        angular.forEach(allKeys, function(key, index) {
            if (key == $scope.app.appName) return;  // ignore the app object
            var keyParts = key.split('/');
            if (keyParts.length == 3) {
                if (keyParts[0] != $scope.app.appName) return;
                if (keyParts[1] != $scope.app.workspaceName) {  // not our workspace
                    if (keyParts[2] == $scope.workspaceId) {    // workspace object?
                        if ($scope.workspaces.indexOf(keyParts[1]) == -1) {
                            $scope.workspaces.push(keyParts[1]);    // save name to workspace list
                        }
                    }
                    return;
                }
                if (keyParts[2][0] == 'N') {    // "N12345" is a note
                    var note = JSON.parse(localStorage[key]);
                    $scope.updateNote(note);
                    return;
                }
                else if (keyParts[2] == $scope.workspaceId) {   // "Workspace" is the workspace object
                    angular.copy($scope.defaultWorkspace, $scope.workspace);
                    angular.extend($scope.workspace, JSON.parse(localStorage[key]));
                    if ($scope.workspaces.indexOf(keyParts[1]) == -1) {
                        $scope.workspaces.push(keyParts[1]);    // save name to workspace list
                    }
                    return;
                }
            }
            alert('Unexpected item in workspace storage:' + key + '/' + localStorage[key]); 
            if ($scope.workspace.debug >= 999) localStorage.removeItem(key);
        });
        $scope.setNotePrototypes();
        $scope.workspaces.sort();
    };

    $scope.addWorkspace = function(newName) {
        if (!newName) newName = prompt("New workspace name:", "");
        if (!newName) return;
        if (newName.indexOf('/') != -1) {
            alert('Workspace name may not contain the "/" character');
            return;
        }
        // does the workspace exist?  nav to it
        var newWorkspace = {};
        angular.extend(newWorkspace, $scope.defaultWorkspace);
        var key = $scope.getKey(newWorkspace, newName);
        if (!localStorage[key]) {
            try {
                localStorage.setItem(key, JSON.stringify(newWorkspace));
            } catch(e) {
                alert('ERROR: Could not add workspace!  Increase LocalStorage!');
            }
        }
        $scope.selectedWorkspace = newName;
        $scope.saveApp();
        location.reload();
    };

    $scope.backupWorkspace = function() {
        var n = {}; angular.copy($scope.notes, n);
        var w = {}; angular.copy($scope.workspace, w);
        var backup = [{k:'workspacebackup', workspace: w, notes: n}];
        var blob = new Blob([JSON.stringify(backup)], {type: 'text/plain;charset=utf-8'});
        var name = [
            $scope.app.appName, '-',
            $filter('date')(new Date(), 'yyyyMMdd-HHmmss'), '-',
            $scope.app.workspaceName,
            '.txt'
        ].join('');
        saveAs(blob, name);
    };

    // save note to optional workspace
    $scope.saveNote = function(note, workspace) {
        var key = $scope.getKey(note, workspace);
        try {
            localStorage.setItem(key, JSON.stringify(note));
        } catch(e) {
            alert('ERROR: Could not save object!  Increase LocalStorage!');
        }
    };

    $scope.deleteNote = function(note) {    // move note to trash
        if ($scope.app.workspaceName == 'trash') {
            if (!confirm('Delete this note from the trash?')) return;
            $scope.removeNote(note);
        }
        $scope.sendNote(note, 'trash');
    };

    $scope.removeNote = function(note) {
        localStorage.removeItem($scope.getKey(note));
        delete $scope.notes[note.i];
    };

    $scope.sendNote = function(note, workspace) {
        if (!workspace) return;  // TODO: Validate workspaceName for newWorkspace
        if (workspace == $scope.app.workspaceName) return;    // prevent send-to-self
        $scope.saveNote(note, workspace);
        $scope.removeNote(note);
    };

    $scope.emptyTrash = function() {
        if (!confirm('Empty the Trash?')) return false;
        var allKeys = Object.keys(localStorage);
        angular.forEach(allKeys, function(key, index) {
            if (key == $scope.app.appName) return;  // ignore the app object
            var keyParts = key.split('/');
            if (keyParts.length != 3) return;
            if (keyParts[0] != $scope.app.appName) return;  // not our app
            if (keyParts[1] != 'trash') return;             // not our workspace
            if (keyParts[2][0] == 'N') {    // "N12345" is a note
                localStorage.removeItem(key);
            }
        });
        if ($scope.app.workspaceName == 'trash') location.reload();
        return true;
    };

    $scope.deleteAllNotes = function() {
        if ($scope.app.workspaceName == 'trash') return $scope.emptyTrash();
        if (!confirm('Send everything here to the Trash?')) return false;
        angular.forEach($scope.notes, function(note, index) {
            $scope.deleteNote(note);
        });
        return true;
    };

    $scope.deleteWorkspace = function() {
        if (!$scope.deleteAllNotes()) return false;
        if (!confirm('Delete this workspace?')) return false;
        localStorage.removeItem($scope.getKey($scope.workspace));
        $scope.app.workspaceName = 'todo';
        $scope.saveApp();
        location.reload();
    };

    $scope.wipeLocalStorage = function() {
        if (!confirm('Really delete EVERYTHING in LocalStorage for this domain?')) return;
        if (!confirm('Really, really delete EVERYTHING in LocalStorage for this domain?')) return;
        if (!confirm('Really, really, really delete EVERYTHING in LocalStorage for this domain?')) return;
        var allKeys = Object.keys(localStorage);
        angular.forEach(allKeys, function(key, index) {
            localStorage.removeItem(key);
        });
        location.reload();      // reboot to empty state
    };

    $scope.makeNote = function(title, text) {
        var newNote = {};
        angular.extend(newNote, {
            i: $scope.newNoteId(),
            d: 1,
            n: title,
            t: text,
            x: Math.floor(Math.random() * 512),
            y: 48 + Math.floor(Math.random() * 512),
            z: $scope.topZ() + 1
        });
        $scope.updateNote(newNote);
        $scope.saveNote($scope.notes[newNote.i]);
    };

    $scope.makeNotes = function(max) {
        var max = max || 100;
        var t0 = new Date().getTime();
        for (var i=0; i < max; i++) {
            var elapsed = new Date().getTime() - t0;
            $scope.makeNote('Test note: ' + i, 'Elapsed: ' + elapsed);
        }
    };

    $scope.workspaces = ['done', 'todo', 'trash'];
    
    $scope.saveWorkspace = function() {
        $scope.saveNote($scope.workspace);        
    };

    $scope.toggleText = function(note) {
        if (note.d) delete note.d;
        else note.d = 1;
        $scope.saveNote(note);
    };

    // Drag and Drop
    //    
    $scope.drag = {};
    $scope.resizeMargin = 36;

    // mouse pointer indication
    $scope.inResizeZone = function(note, event) {
        var e = event.originalEvent;
        return (e.offsetX > (note.w - $scope.resizeMargin));
    };

    $scope.mouseover = function(note, event) {
        if ($scope.inResizeZone(note, event)) {
            $scope.drag.resizable = 1;
        }
        else delete $scope.drag.resizable;
    };

    $scope.mouseleave = function(note, event) {
        delete $scope.drag.resizable;
    };

    $scope.stopEvent = function(event) {
        var e = event.originalEvent;
        if (e.preventDefault) {
            e.preventDefault();     // Necessary. Allows us to drop.
        }
    };

    $scope.dragstart = function(event) {
        if ($scope.drag.active) return true;

        var e = event.originalEvent;
        var id = e.target.id;
        if (!id.match(/^note_/)) {
            alert('Bogus note id');
            return true;
        }
        id = id.slice(5);
        if (!$scope.notes.hasOwnProperty(id)) {
            alert('Unknown note id');
            return true;
        }
        var note = $scope.notes[id];
        $scope.toFront(note);

        e.dataTransfer.dropEffect = 'move';
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setDragImage(angular.element('.dragImage')[0], 0, 0);

        if ($scope.inResizeZone(note, event)) {
            $scope.drag.resizing = true;
            $scope.drag.startingWidth = note.w;
        }
        else {
            if ($scope.workspace.grid && !e.shiftKey) $scope.snapToGrid(note);
            e.target.style.opacity = 0.8;
        }

        angular.extend($scope.drag, {
            startingX: note.x,      // starting note position
            startingY: note.y,
            offsetX: e.offsetX,     // cursor offset within note at mousedown
            offsetY: e.offsetY,
            noteElement: e.target,
            noteId: id,
            active: true,
        });
        return false;
    };

    $scope.dragover = function(event) {
        //console.log('dragover', event);
        $scope.stopEvent(event);
        return false;
    };

    $scope.dragenter = function(event) {
        // this / e.target is the current hover target.
        //event.originalEvent.target.classList.add('over');
        //console.log('dragenter:', event);
        $scope.stopEvent(event);
        return false;
    };

    $scope.dragleave = function(event) {
        //event.originalEvent.target.classList.remove('over');
        //console.log('dragleave', event);
    };

    $scope.snapToGrid = function(note) {
        var grid = $scope.workspace.grid;
        if (grid) {
            note.x = grid * Math.floor(note.x / grid);
            note.y = grid * Math.floor(note.y / grid);
        }
    };

    $scope.dragging = function(event) {
        var e = event.originalEvent;
        var dragNote = $scope.notes[$scope.drag.noteId];
        var grid = $scope.workspace.grid;

        if ($scope.drag.resizing) {
            var dx = e.offsetX - $scope.drag.offsetX;
            var newWidth = $scope.drag.startingWidth + dx;
            if ($scope.workspace.grid && !e.shiftKey) newWidth = grid * Math.floor(newWidth/grid);
            if (newWidth < 48) newWidth = 48;
            dragNote.w = newWidth;
        }
        else {
            var newx = e.x - $scope.drag.offsetX + $window.pageXOffset;
            var newy = e.y - $scope.drag.offsetY + $window.pageYOffset;
            var dx = newx - $scope.drag.startingX;
            var dy = newy - $scope.drag.startingY;
			if (grid && !e.shiftKey) {
			    dx = grid * Math.floor(dx / grid);
    			dy = grid * Math.floor(dy / grid);
			}
            dragNote.x = Math.max(0, $scope.drag.startingX + dx);
			dragNote.y = Math.max(0, $scope.drag.startingY + dy);
        }
    };

    $scope.drop = function(event) {
        $scope.stopEvent(event);
        if (!$scope.drag.active) return;
        $scope.drag.noteElement.style.opacity = 1.0;
        var e = event.originalEvent;
        var target = e.target;
        var id = target.id;
        if ($scope.drag.resizing) {
            $scope.saveNote($scope.notes[$scope.drag.noteId]);
            $scope.drag = {};
        }
        else if (!id.match(/^note_/)) {  // drop on workspace
            $scope.saveNote($scope.notes[$scope.drag.noteId]);
            $scope.drag = {};
        }
        else {        
            // TODO: drop on note
            $scope.drag = {};
            alert('Zombie drag.');
            return false;
            var droppedNoteId = id.slice(5);
            console.log('dropped on note', droppedNoteId);
            $scope.notes[droppedNoteId].t += [
                '<p>', $scope.notes[$scope.draggedNoteId].n, '</p>\n',
                '<p>', $scope.notes[$scope.draggedNoteId].t, '</p>'
            ].join('');
        }
        return false;
    };

    $scope.dragend = function(event) { 
       // this/e.target is the source node.
        var e = event.originalEvent;
        //console.log('dragend', event);  
        return false;
    };

    // randomize new note position so notes are less likely 
    // to collide between sessions
    $scope.nextIncrement = $scope.workspace.grid || 24;
    $scope.nextX = $scope.nextIncrement + $scope.nextIncrement * Math.floor(Math.random() * 8);
    $scope.nextY = 2 * $scope.nextIncrement + $scope.nextIncrement * Math.floor(Math.random() * 8);
    $scope.nextXPos = function() {
        $scope.nextX += $scope.nextIncrement;
        return $scope.nextX;
    };
    $scope.nextYPos = function() {
        $scope.nextY += $scope.nextIncrement;
        return $scope.nextY;
    };

    $scope.countNotes = function() {
        var count = 0;
        angular.forEach($scope.notes, function (note, index) { count++; });
        return count;
    };

    $scope.inputPlaceholder = function() {
        var count = $scope.countNotes()
        if (count == 0) return 'Type title/text here and press Enter to create a new note.';
        else if (count == 1) return 'Right-click on a note or the workspace for a menu.';
        return '';
    };

    // add note via command bar
    $scope.addNoteFromForm = function() {
        // called from commandBar form, so 'this' is $scope here
        if (this.newNoteText[0] == '.') {           // command
            try {
                eval('$scope.' + this.newNoteText.slice(1));
            } catch(e) {
                console.log('Error:', e);
            }
            this.newNoteText = '';
        }
        else if (this.newNoteText[0] == '{') {     // json note
            var newNote = JSON.parse(this.newNoteText);
            newNote.i = $scope.newNoteId();
            $scope.updateNote(newNote);
            $scope.saveNote($scope.notes[newNote.i]);
            this.newNoteText = '';            
        }
        else if (this.isUrl.test(this.newNoteText)) {   // image note
            var newNote = {};
            angular.extend(newNote, {
                i: this.newNoteId(),
                d: 1,
                t: this.newNoteText,
                x: this.nextXPos(),
                y: this.nextYPos(),
                z: this.topZ() + 1
            });
            this.updateNote(newNote);
            this.saveNote(this.notes[newNote.i]);
            this.newNoteText = '';            
        }
        else {
            if (this.newNoteText.length == 0) return;
            var lines = this.newNoteText.split('/');
            var newNote = {
                i: $scope.newNoteId(),
                n: lines[0],
                x: $scope.nextXPos(),
                y: $scope.nextYPos(),
                z: this.topZ() + 1
            };
            if (lines.length > 1) {
                // html in the body: replace the slashes
                if (lines[1][0] == '<') newNote.t = lines.slice(1).join('/');
                else newNote.t = lines.slice(1).join('\n');
                newNote.d = 1;
            }
            this.updateNote(newNote);
            this.saveNote(this.notes[newNote.i]);
            this.newNoteText = '';
        }
    };

    // edit title of note
    $scope.editTitle = function(note) {
        note._saved_title = note.n;
        note._editingTitle = 1;
    };
    $scope.cancelEditTitle = function(note) {
        note.n = note._saved_title;
        delete note._saved_title;
        delete note._editingTitle;
    };
    $scope.saveTitle = function(note) {
        delete note._saved_title;   // could keep this for undo
        delete note._editingTitle;
        $scope.saveNote(note);
    };

    // edit text of note
    $scope.editText = function(note) {
        note._saved_text = note.t;
        note.d = 1;
        note._editingText = 1;
    };
    $scope.cancelEditText = function(note) {
        note.t = note._saved_text;
        delete note._saved_text;
        delete note._editingText;
    };
    $scope.saveText = function(note) {
        delete note._saved_text;   // could keep this for undo
        delete note._editingText;
        $scope.saveNote(note);
    };

    $scope.duplicateNote = function(note) {
        var newNote = {};
        angular.extend(newNote, note);
        angular.extend(newNote, {
            i: $scope.newNoteId(),
            x: newNote.x + $scope.workspace.grid,
            y: newNote.y + $scope.workspace.grid
        });
        $scope.updateNote(newNote);
        $scope.saveNote(newNote);
    };

    $scope.isUrl = /^(http:|https:)/;
    $scope.isImg = /(.jpg|.jpeg|.png|.gif|.tiff)$/;

    $scope.renderBody = function(note) {
        if (!note.t) return '';
        if ($scope.isUrl.test(note.t)) {    // image url
            if ($scope.isImg.test(note.t)) {
                return '<img src="' + note.t + '" width="' + note.w + '"/>';
            }
        }
        if (note.t[0] == '<') return note.t;    // html body
        var lines = note.t.split('\n');
        return '<p>' + lines.join('</p>\n<p>') + '</p>';    // else htmlify body
    };

    //
    //  menus
    //
    $scope.noteMenu = [
        {i:'icon-pencil', t:'Edit Note Title',      x:'editTitle(menu.selectedNote);hideMenu()'},
        {i:'icon-edit', t:'Edit Note Body',         x:'editText(menu.selectedNote);hideMenu()'},
        {s:1},
        {i:'icon-tint', t:'Set Text Color',         x:'setNoteColor("c", menu.selectedNote, $event);hideMenu()'},
        {i:'icon-tint', t:'Set Background Color',   x:'setNoteColor("b", menu.selectedNote, $event);hideMenu()'},
        {s:1},
        {i:'icon-share', t:'Duplicate Note',        x:'duplicateNote(menu.selectedNote);hideMenu()'},
        {s:1},
        {i:'icon-arrow-down', t:'Send to Back',     x:'toBack(menu.selectedNote);hideMenu()'},
        {s:1},
        {i:'icon-ok', t:'Move to Done',             x:'sendNote(menu.selectedNote,"done");hideMenu()'},
        {i:'icon-arrow-right', t:'Move To...', m:1, x:'showSendToMenu($event)'},    // m for submenu
        {s:1},
        {i:'icon-trash', t:'Move to Trash',         x:'deleteNote(menu.selectedNote);hideMenu()'}
    ];
    
    $scope.workspaceMenu = [
        {i:'icon-plus-sign', t:'Add Workspace',             x:'addWorkspace();hideMenu()'},
        {s:1},
        {i:'icon-tint', t:'Set Workspace Background',       x:'setWorkspaceColor("b", workspace, $event);hideMenu()'},
        {s:1},
        {i:'icon-tint', t:'Set Default Note Text Color',    x:'setDefaultNoteColor("c", workspace.defaultNote, $event);hideMenu()'},
        {i:'icon-tint', t:'Set Default Note Background',    x:'setDefaultNoteColor("b", workspace.defaultNote, $event);hideMenu()'},
        {s:1},
        {i:'icon-download-alt', t:'Back Up This Workspace', x:'backupWorkspace();hideMenu()'},
        {s:1},
        {i:'icon-trash', t:'Clear This Workspace',          x:'deleteAllNotes();hideMenu()'},
        {i:'icon-trash', t:'Delete This Workspace',         x:'deleteWorkspace();hideMenu()'},
        {s:1},
        {i:'icon-warning-sign', t:'Wipe All Workspaces',    x:'wipeLocalStorage();hideMenu()'},
        {s:1},
        {i:'icon-trash', t:'Empty Trash',                   x:'emptyTrash();hideMenu()'},
        {s:1},
        {i:'icon-eye-open', t:'Toggle Debug',               x:'setDebug(!workspace.debug);hideMenu()'}
    ];

    $scope.menu = {};

    $scope.showNoteMenu = function(note, event) {
        event.preventDefault();
        event.stopPropagation();
        angular.extend($scope.menu, {
            selectedNote: note,
            showingNoteMenu: true,
            x: event.clientX + $window.pageXOffset,
            y: event.clientY + $window.pageYOffset
        });

        // TODO: position the menu with an ng-style so this isn't needed
        angular.element('#noteMenu').css({
            left: $scope.menu.x,
            top: $scope.menu.y
        });
    };

    $scope.showWorkspaceMenu = function(workspace, event) {
        angular.extend($scope.menu, {
            workspace: workspace,
            showingWorkspaceMenu: true,
            x: event.clientX + $window.pageXOffset,
            y: event.clientY + $window.pageYOffset
        });

        // TODO: position the menu with an ng-style so this isn't needed
        angular.element('#workspaceMenu').css({
            left: $scope.menu.x,
            top: $scope.menu.y
        });
    };

    $scope.showSendToMenu = function(event) {
        angular.extend($scope.menu, {
            showingSendToMenu: true,
            x: event.clientX + $window.pageXOffset,
            y: event.clientY + $window.pageYOffset
        });

        // TODO: position the menu with an ng-style so this isn't needed
        angular.element('#sendToMenu').css({
            left: $scope.menu.x,
            top: $scope.menu.y
        });
    };

    $scope.pickedColor = '';

    $scope.showColorPicker = function(event) {
        $scope.showingColorPicker = true;
        angular.element('.colorPickerPlaceholder').click();
        angular.element('.colorpicker').css({
            left: $scope.menu.x,
            top: $scope.menu.y
        });        
    };

    $scope.isColorPickerVisible = function() {
        return $('.colorpicker-visible').length > 0;
    };

    $scope.setNoteColor = function(attr, note, event) {
        $scope.setObjectColor(attr, note, event, 
                (note[attr] || workspace.defaultNote[attr]), function(note) {
            $scope.saveNote(note);
        });
    };

    $scope.setWorkspaceColor = function(attr, obj, event) {
        $scope.setObjectColor(attr, obj, event, obj[attr], function(workspace) {
            $scope.saveWorkspace();
        });
    };

    $scope.setDefaultNoteColor = function(attr, note, event) {
        $scope.setObjectColor(attr, note, event, note[attr], function(note) {
            $scope.saveWorkspace();
        });
    };
    
    $scope.setObjectColor = function(attr, obj, event, initialColor, callback) {
        $scope.pickedColor = initialColor;
        $scope.showColorPicker(event);

        // watch pickedColor and update note[attr]
        var colorWatch = $scope.$watch('pickedColor', function(newValue, oldValue) {
            if (newValue === oldValue) return;
            obj[attr] = newValue;
        });

        // watch isColorPickerVisible to become false and saveNote
        // $watch doesn't work here until Angular sees an event later
        var checkInterval = 100;
        var pickerLastState = $scope.isColorPickerVisible();
        var watchPickerDisappear = function() {
            var pickerNewState = $scope.isColorPickerVisible();
            if (pickerLastState && !pickerNewState) {   // look for falling edge
                if (callback) callback(obj);    // fire the callback
                colorWatch();       // stop watching color: call the remove() function
            }
            else {
                $timeout(watchPickerDisappear, checkInterval);
            }
        };
        watchPickerDisappear();
    };

    $scope.hideMenu = function() {
        $scope.menu = {};
    };

    //
    //  command bar
    //
    $scope.commandBar = {left: 0, top: 0, width: $window.outerWidth};
    $scope.commandBarStyle = function() { return $scope.commandBar; }
    $scope.setupCommandBarFollowing = function() {
        angular.element($window).bind('scroll', function() {
            $scope.commandBar.left = $window.pageXOffset;
            $scope.commandBar.top = $window.pageYOffset;
            $scope.$apply();
        });
        angular.element($window).bind('resize', function() {
            $scope.commandBar.width = $window.outerWidth;
            $scope.$apply();
        });
    };
    $scope.setupCommandBarFollowing();

    $scope.loadApp();
};
</script>
</body>
</html>
