<!doctype HTML>
<html>
<!-- Copyright 2013 by Bill Roy.  Use under MIT License. -->
<head>
<title>Soup7</title>
<script src='js/jquery/1.10.2/jquery.min.js'></script>
<script src='js/jqueryui/1.10.3/jquery-ui.min.js'></script>
<script src='js/angular/1.2.1/angular.min.js'></script>
<script src='js/angular/1.2.1/angular-sanitize.min.js'></script>
<script src='js/ui-utils/modules/event/event.js'></script>
<script src='js/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js'></script>
<script src='js/Blob.js/Blob.js'></script>
<script src='js/FileSaver.js/FileSaver.js'></script>

<link href='css/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet'/>
<link href='js/angular-bootstrap-colorpicker/css/colorpicker.css' rel='stylesheet'/>

<style type='text/css'>
body {
	background-color: black;
	padding-left: 0px;
}
.workspace {
	width: 2048px;
	height:2048px;
}
.commandBar {
	position: absolute;
	background: black;
	color: white;
	height: 42px;
	border: 1px solid lightgray;
	border-radius: 6px;
	margin: 0 0 0 0;
	z-index: 10000;
}
.logo {
	font-size: 1.2em;
	float: left;
	margin: 12px 0 0 0.5em;
}
.workspaceSelector {
	float: left;
	width: 144px;
	font-size: 0.9em;
	margin: .5em 1em 0 1em;
	border-radius: 6px;
}
.textInput {
	background: white;
	color: blue;
	float: left;
	width: 50%;
	margin: 6px 0 0 6px;
	border-radius: 6px;
}
.note {
	position: absolute;
	text-align: left;
	cursor: move;
}
.titlebar {
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
}
.notetitle {
	font-size: 100%;
	font-weight: bold;
	text-align: left;
}
.notebody {
	font-size: 80%;
	margin: -0.1em 0.5em 0 0.5em;
	padding: 0.5em 1em 1em 1em;
	background: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 6px 6px;
}
.over {
	border: 1px red dashed;
}
input[type=text] {
	border-radius: 6px;
	border: 0;
}
textarea {
	border-radius: 6px;
	border: 0;
}
.button {
	color: white !important;
	background: black;
	font-size: 0.8em;
	border-radius: 3px;
	cursor:pointer;
}
.buttons {
	margin: 0 2em 0 2em;
}
.menu {
	position: absolute;
	background: white;
	color: black;
	z-index: 10000;
	border: 1px solid black;
	border-radius: 4px;
}
.menu div {
	margin: .25em 0 .25em 0;
	padding: 0 .25em 0 .25em;
	cursor:default;
}
.menu div.highlight {
	background: blue;
	color: white;
}
div.rule {
	width: 90%;
	height: 2px;
	border: 0;
	background-color: lightgray;
	margin-top: 6px;
	margin-bottom: 6px;
}
p {
	margin-bottom: 0em;
}
.colorPickerContainer {
	position: absolute;
	z-index: 15000;
}
.colorPreview {
    width: 12px;
    border: 1px solid black;
}
.debug {
	margin: 3em 0 0 1em;
}
</style>
</head>
<body ng-app='Soup7'>

<div ng-controller='WorkspaceController' class='workspace'
	ng-style='workspace.style()'
	ng-right-click='showWorkspaceMenu(workspace, $event)'
	droppable='true'
	ui-event='{
		dragstart:"dragstart($event)", 
		drag:"dragging($event)",
		dragover:"dragover($event)",
		dragenter:"dragenter($event)",
		dragleave:"dragleave($event)",
		drop:"drop($event)",
		dragend:"dragend($event)"
	}'>

	<div class='commandBar' ng-style='commandBarStyle()'>
		<div class='logo'>&bull;&nbsp;Soup7</div>
		<select class='workspaceSelector' name='workspace' 
			ng-model='selectedWorkspace'
			ng-options='w for w in workspaces'></select>
		<form name='commandEntry' ng-submit='workspace.addNoteFromForm()'>
			<input type='text' name='newNoteText' 
				class='textInput' ng-model='newNoteText'
				placeholder='{{workspace.inputPlaceholder()}}'/>
		</form>
	</div>

	<div ng-switch='workspace.debug'>
		<div ng-switch-when='true' class='debug'>
			<div>Debug info:</div>
			<div>App: {{app}}</div>
			<div>workspaceName: {{selectedWorkspace}}</div>
			<div>Workspace: {{workspace}}</div>
			<div>Notes: <div ng-repeat='note in notes'>{{note}}</div></div>
            <div>styleCache:  <div ng-repeat='note in styleCache'>{{note}}</div></div>
            <div>titleStyleCache:  <div ng-repeat='note in titleStyleCache'>{{note}}</div></div>
            <div>bodyCache:  <div ng-repeat='note in bodyCache'>{{note}}</div></div>
		</div>
	</div>

	<div class='note' ng-repeat='note in notes' id='note_{{note.i}}'
		ng-style='styleCache[note.i]'
		draggable='true'
		ui-event='{
			dragstart:"dragstart($event)", 
			drag:"dragging($event)",
			dragover:"dragover($event)",
			dragenter:"dragenter($event)",
			dragleave:"dragleave($event)",
			drop:"drop($event)",
			dragend:"dragend($event)"
		}'>
		<div class='titlebar'
			ng-right-click='showNoteMenu(note, $event)'
			ng-mouseover='mouseover(note, $event)'
			ng-mouseleave='mouseleave(note, $event)'
			ng-style='titleStyleCache[note.i]'>
			<div style='cursor:pointer; float:left' ng-click='note.toggleText()'>
				<svg ng-show='!note.d && !note.t' width='14' height='12'>
					<circle cx='8' cy='7' r='2' 
						ng-style='{fill:note.c, stroke:note.c}'/>
				</svg>
				<svg ng-show='!note.d && note.t' width='14' height='12'>
					<path d='M4,3L8,6L4,9Z'
						ng-style='{fill:note.c, stroke:note.c}'/>
				</svg>
				<svg ng-show='note.d' width='14' height='12'>
					<path d='M4,5L7,9L10,5Z'
						ng-style='{fill:note.c, stroke:note.c}'/>
				</svg>
			</div>
			<div class='notetitle' style='float:none'
				ng-dblclick='note.editTitle()'
				ng-hide='note.editingTitle'
				ng-bind-html='note.n | unsafe'>
			</div>
			<span ng-show='note.editingTitle'>
				<input type='text' name='noteTitle' ng-style='{width:"80%"}' ng-model='note.n'>
				<span class='buttons'>
					<span class='button' ng-click='note.cancelEditTitle()'>&nbsp;Cancel&nbsp;</span>
					<span class='button' ng-click='note.saveTitle()'>&nbsp;Save&nbsp;</span>
				</span>
			</span>
		</div>
		<div ng-show='note.d' class='notebody' 
			ng-right-click='showNoteMenu(note, $event)'
			ng-mouseover='mouseover(note, $event)'
			ng-mouseleave='mouseleave(note, $event)'
			ng-dblclick='note.editText()'>
			<div ng-show='note.d && !note.editingText' 
				ng-bind-html='bodyCache[note.i] | unsafe'></div>
			<div ng-show='note.d && note.editingText'>
				<textarea name='noteBody' ng-style='{width:"95%"}'
					ng-model='note.t'></textarea>
				<span class='buttons'>
					<span class='button' ng-click='note.cancelEditText()'>&nbsp;Cancel&nbsp;</span>
					<span class='button' ng-click='note.saveText()'>&nbsp;Save&nbsp;</span>
				</span>
			</div>
		</div>
	</div>

	<div class='menu' id='workspaceMenu'
		ng-show='menu.showingWorkspaceMenu'
		ng-mouseleave='hideMenu()'>
		<div ng-repeat='item in workspaceMenu'>
			<div ng-hide='item.s'
				ng-click='doMenuCommand(item, $event)'
				ng-class='overclass'
				ng-mouseenter='overclass="highlight"'
				ng-mouseleave='overclass=""'>
				<i class='{{item.i}}'></i> 
				<!-- <span ng-show='item.p' class='colorPreview'></span> -->
				{{item.t}}
			</div>

			<div ng-show='item.s' class='rule'></div>
		</div>
	</div>

	<div class='menu' id='noteMenu' 
		ng-show='menu.showingNoteMenu'
		ng-mouseleave='menu.showingSendToMenu ? 0 : hideMenu()'>
		<div ng-repeat='item in noteMenu'>
			<div ng-hide='item.s'
				ng-click='doMenuCommand(item, $event)'
				ng-class='overclass'
				ng-mouseenter='overclass="highlight"'
				ng-mouseleave='overclass=""'>
				<i class='{{item.i}}'></i> {{item.t}}
			</div>
			<div ng-show='item.s' class='rule'></div>
		</div>
	</div>

	<div class='menu' id='sendToMenu'
		ng-show='menu.showingSendToMenu'
		ng-mouseleave='hideMenu()'>
		<div ng-repeat='item in workspaces'>
			<div ng-click='menu.selectedNote.send(item);hideMenu()'
				ng-class='overclass'
				ng-disabled='item==app.workspaceName'
				ng-mouseenter='overclass="highlight"'
				ng-mouseleave='overclass=""'>
				<i class='icon-folder-close'></i> {{item}}
			</div>
		</div>
	</div>

	<div class='colorPickerContainer' ng-show='showingColorPicker'>
		<span colorpicker='hex' colorpicker-position='right' 
			class='colorPickerPlaceholder span2' ng-model='pickedColor'>
		</span>
	</div>

	<!-- drag image -->
	<svg class='dragImage' width='1' height='1'>
		<path d='M1,1'/>
	</svg>
</div>

<script type='text/javascript'>

/* Note attributes:
	a b:background c:color d:displayText e f g h:height i:id
	j k l m n:title o p q r s t:text u v w:width x:left y:top z:zindex

	maybe: o:opacity k:kind (workspace/svg) s: subnote selected e:error editing editable
	TODO: e:editingNote et: editingTitle
*/

window.app = angular.module('Soup7', ['ui.event', 'colorpicker.module', 'ngSanitize']);

// from http://jsfiddle.net/bcaudan/vTZZ5/
app.directive('ngRightClick', function($parse) {
	return function(scope, element, attrs) {
		var fn = $parse(attrs.ngRightClick);
		element.bind('contextmenu', function(event) {
			scope.$apply(function() {
				event.preventDefault();
				fn(scope, {$event:event});
			});
		});
	};
});

// from http://stackoverflow.com/questions/18340872/how-do-you-use-sce-trustashtmlstring-to-replicate-ng-bind-html-unsafe-in-angu
app.filter('unsafe', function($sce) {
	return function(val) {
		return $sce.trustAsHtml(val);
	};
});

function WorkspaceController($scope, $timeout, $window, $filter) {

	//
	// app
	//
	$scope.app = {
		appName: 'Soup7',
		workspaceName: 'todo',
		lastNoteId: 0,
		loaded: false,
	};
	
	var App = {

		load: function() {
			var app = localStorage[this.appName];
			if (app) {
				var appObj = JSON.parse(app);
				angular.extend($scope.app, appObj);
				$scope.selectedWorkspace = $scope.app.workspaceName;
			}
			// todo: validate app.workspaceName
			// todo: verify todo and trash exist; create if not
			$scope.workspace.open();
			$scope.app.loaded = true;
		},

		save: function() {
			try {
				var s = JSON.stringify($scope.app);
				localStorage.setItem($scope.app.appName, JSON.stringify($scope.app));
			} catch(e) {
				alert('ERROR: Could not save app!  Increase LocalStorage!');
			}
		},

		open: function(workspaceName) {
			//$scope.selectedWorkspace = workspaceName;
			this.workspaceName = workspaceName;
			this.save();
			location.reload();
		},

		createWorkspace: function(newName) {
			if (!newName) newName = prompt("New workspace name:", "");
			if (!newName) return;
			if (newName.indexOf('/') != -1) {
				alert('Workspace name may not contain the "/" character');
				return;
			}
			// does the workspace exist?  nav to it
			var newWorkspace = {};
			angular.extend(newWorkspace, $scope.defaultWorkspace);
			var key = $scope.app.getKey(newWorkspace, newName);
			if (!localStorage[key]) {
				try {
					localStorage.setItem(key, JSON.stringify(newWorkspace));
				} catch(e) {
					alert('ERROR: Could not add workspace!  Increase LocalStorage!');
				}
			}
			$scope.app.open(newName);
		},

		removeWorkspace: function() {
			if (this.countNotes() > 0) {
				if (!this.removeAllNotes()) return false;
			}
			if (!confirm('Delete this workspace?')) return false;
			localStorage.removeItem($scope.app.getKey($scope.workspace));
			$scope.app.open('todo');
		},



		// localStorage key for any object with a .i field
		// workspace is optional; defaults to app.workspaceName
		getKey: function(object, workspaceName) {
			return [this.appName, workspaceName ? workspaceName : this.workspaceName, object.i].join('/');
		},

		saveObject: function(object, workspace) {
			var key = this.getKey(object, workspace);
			try {
				localStorage.setItem(key, JSON.stringify(object));
			} catch(e) {
				alert('ERROR: Could not save object!  Increase LocalStorage!');
			}
		},

		wipeLocalStorage: function() {
			if (!confirm('Really delete EVERYTHING in LocalStorage for this domain?')) return;
			if (!confirm('Really, really delete EVERYTHING in LocalStorage for this domain?')) return;
			if (!confirm('Really, really, really delete EVERYTHING in LocalStorage for this domain?')) return;
			var allKeys = Object.keys(localStorage);
			angular.forEach(allKeys, function(key, index) {
				localStorage.removeItem(key);
			});
			location.reload();	  // reboot to empty state
		}
	};
	$scope.app.__proto__ = App;


	//
	// workspace selector
	//
	$scope.workspaces = ['done', 'todo', 'trash'];
	$scope.selectedWorkspace = 'todo';
	$scope.$watch('selectedWorkspace', function(newValue, oldValue) {
		if (!$scope.app.loaded) return;
		if (newValue == oldValue) return;
		if (true || newValue != $scope.app.workspaceName) {
			$scope.app.workspaceName = newValue;
			$scope.app.save();
			location.reload();  // reboot to the new workspace
		}
	});

	$scope.workspaceId = 'Workspace';   // identifies a workspace object

	$scope.defaultWorkspace = {
		i: $scope.workspaceId,
		debug: false,
		b: 'deepskyblue',
		grid: 24,
		defaultNote: {
			w: 144, b: 'lightyellow', c: 'black', z: 0,
		}
	};

	var Workspace = {

		style: function() {
			return {background: $scope.workspace.b};
		},

		newNoteId: function() {
			$scope.app.lastNoteId++;
			while ($scope.notes.hasOwnProperty('N' + $scope.app.lastNoteId)) {
				alert('Note ID collision:', $scope.app.lastNoteId);
				$scope.app.lastNoteId++;
			}
			$scope.app.save();
			return 'N' + $scope.app.lastNoteId;
		},

		save: function() {
			$scope.app.saveObject($scope.workspace);		
		},

		// during open, some notes are bound to the old (default) workspace object
		// re-attach all the prototypes here so chaining works for attribute inheritance
		setNotePrototypes: function() {
			angular.forEach($scope.notes, function(note, index) {
				note.__proto__ = $scope.workspace.defaultNote;
				note.updateCaches();
			});
		},

		// load notes from localStorage
		open: function() {
			var allKeys = Object.keys(localStorage);
			angular.forEach(allKeys, function(key, index) {
				if (key == $scope.app.appName) return;  // ignore the app object
				var keyParts = key.split('/');
				if (keyParts.length == 3) {
					if (keyParts[0] != $scope.app.appName) return;
					if (keyParts[1] != $scope.app.workspaceName) {  // not our workspace
						if (keyParts[2] == $scope.workspaceId) {	// workspace object?
							if ($scope.workspaces.indexOf(keyParts[1]) == -1) {
								$scope.workspaces.push(keyParts[1]);	// save name to workspace list
							}
						}
						return;
					}
					if (keyParts[2][0] == 'N') {	// "N12345" is a note
						var note = JSON.parse(localStorage[key]);
						$scope.workspace.updateNote(note);
						return;
					}
					else if (keyParts[2] == $scope.workspaceId) {   // "Workspace" is the workspace object
						initWorkspace()
						var workspaceData = JSON.parse(localStorage[key]);
						angular.extend($scope.workspace, workspaceData);
						setWorkspacePrototypes();
						if ($scope.workspaces.indexOf(keyParts[1]) == -1) {
							$scope.workspaces.push(keyParts[1]);	// save name to workspace list
						}
						return;
					}
				}
				if ($scope.workspace.debug) alert('Unexpected item in workspace storage:' + key + '/' + localStorage[key]); 
				if ($scope.workspace.debug >= 999) localStorage.removeItem(key);
			});
			$scope.workspace.setNotePrototypes();
			$scope.workspaces.sort();
		},

		backup: function() {
			var n = {}; angular.copy($scope.notes, n);
			var w = {}; angular.copy($scope.workspace, w);
			var backup = {k:'workspacebackup', workspace: w, notes: n};
			var blob = new Blob([JSON.stringify(backup)], {type: 'text/plain;charset=utf-8'});
			var name = [
				$scope.app.appName, '-',
				$filter('date')(new Date(), 'yyyyMMdd-HHmmss'), '-',
				$scope.app.workspaceName,
				'.txt'
			].join('');
			saveAs(blob, name);
		},

		restore: function() {
			var backupText = prompt('Paste the text of the backup file below and press Enter:','');
			if (!backupText) return;
			var backupData;
			try {
				backupData = JSON.parse(backupText);
				if (backupData.k != 'workspacebackup') {
					alert('That does not appear to be a workspace backup.');
					return;
				}
				angular.extend($scope.workspace, backupData.workspace);
				setWorkspacePrototypes();
				this.save();
				angular.forEach(backupData.notes, function(note, index) {
					$scope.workspace.createNote(note);
				});
			} catch(e) {
				alert('ERROR: Could not import backup data.');
			}
		},

		getTopZ: function() {
			var topZ = 0;
			angular.forEach($scope.notes, function(note, index) {
				if (note.hasOwnProperty('z')) {
					if (note.z > topZ) topZ = note.z;
				}
			});
			return topZ;
		},

		setDebug: function(value) {
			this.debug = value;
			this.save();
		},

		compactZ: function() {
			var noteData = [];
			angular.forEach($scope.notes, function(note, index) {
				noteData.push({i:note.i, z:note.z});
			});
		
			noteData.sort(function(a, b){return a.z > b.z});

			angular.forEach(noteData, function(note, index) {
				var note = $scope.notes[noteData[index].i];
				note.z = index;
				note.save();
			});
		},

        // create a new note
        createNote: function(object) {
            if (object === undefined) object = {};
            if (object.hasOwnProperty('i')) {
                alert('Cannot create note with i field.');
                return undefined;
            }
            var id = this.newNoteId();
            $scope.notes[id] = {i: id};
			var note = $scope.notes[id];
			angular.extend(note, object);
			note.__proto__ = $scope.workspace.defaultNote;
			note.save();
			return note;
        },

		// update an existing note
		updateNote: function(note) {
			if (!note.hasOwnProperty('i')) {
			    alert('Cannot update note without i field.');
			    return;
			}
			if (!$scope.notes.hasOwnProperty(note.i)) $scope.notes[note.i] = {};
			angular.extend($scope.notes[note.i], note);
			$scope.notes[note.i].__proto__ = $scope.workspace.defaultNote;
            $scope.notes[note.i].updateCaches();
		},

		// remove a note from the workspace
		removeNote: function(note) {
		    note.clearCaches();
			localStorage.removeItem($scope.app.getKey(note));
			delete $scope.notes[note.i];
		},

		emptyTrash: function() {
			if (!confirm('Empty the Trash?')) return false;
			var allKeys = Object.keys(localStorage);
			angular.forEach(allKeys, function(key, index) {
				if (key == $scope.app.appName) return;  // ignore the app object
				var keyParts = key.split('/');
				if (keyParts.length != 3) return;
				if (keyParts[0] != $scope.app.appName) return;  // not our app
				if (keyParts[1] != 'trash') return;			 // not our workspace
				if (keyParts[2][0] == 'N') {	// "N12345" is a note
					localStorage.removeItem(key);
				}
			});
			if ($scope.app.workspaceName == 'trash') location.reload();
			return true;
		},

		removeAllNotes: function() {
			if ($scope.app.workspaceName == 'trash') return $scope.workspace.emptyTrash();
			if (!confirm('Send everything here to the Trash?')) return false;
			angular.forEach($scope.notes, function(note, index) {
				note.remove();
			});
			return true;
		},

		makeNote: function(title, text) {
			this.createNote({
				d: 1,
				n: title,
				t: text,
				x: this.grid * Math.floor(Math.random() * (512/this.grid)),
				y: 48 + this.grid * Math.floor(Math.random() * (512/this.grid)),
				z: $scope.workspace.getTopZ() + 1
			});
		},

		makeNotes: function(max) {
			max = max || 100;
			var t0 = new Date().getTime();
			for (var i=0; i < max; i++) {
				var elapsed = new Date().getTime() - t0;
				this.makeNote('Test note: ' + i, new Date() + '\nElapsed: ' + elapsed);
			}
		},

		// randomize new note position so notes are less likely to collide between sessions
		nextIncrement: this.grid || 24,
		nextX: 24 + 24 * Math.floor(Math.random() * 8),
		nextY: 2 * 24 + 24 * Math.floor(Math.random() * 8),

		nextXPos: function() {
			this.nextX += this.nextIncrement;
			return this.nextX;
		},

		nextYPos: function() {
			this.nextY += this.nextIncrement;
			return this.nextY;
		},

		countNotes: function() {
			var count = 0;
			angular.forEach($scope.notes, function (note, index) { count++; });
			return count;
		},

		inputPlaceholder: function() {
			var count = this.countNotes()
			if (count == 0) return 'Type title/text here and press Enter to create a new note.';
			else if (count == 1) return 'Right-click on a note or the workspace for a menu.';
			return '';
		},

		// add note via command bar
		addNoteFromForm: function() {
			// called from commandBar form, so 'this' is $scope here
			this.addNoteFromText($scope.newNoteText);
			$scope.newNoteText = '';	  // clear the input
		},

		makeNoteFromValue: function(title, value) {
			if (value == undefined) return;
			var s = '' + value;
			if ('' + value == "[object Object]") {
    			this.makeNote(title, '<pre>' + JSON.stringify(value, undefined, 4) + '</pre>');
            }
            else this.makeNote(title, JSON.stringify(value, undefined, 4));
		},

		addNoteFromText: function(newNoteText) {
			if (newNoteText[0] == '.') {		   // command in scope
				try {
					var value = eval('$scope.' + newNoteText.slice(1));
					this.makeNoteFromValue(newNoteText, value);
				} catch(e) {
					console.log('Error:', e);
				}
			}
			else if (newNoteText[0] == '=') {		   // command
				try {
					var value = eval(newNoteText.slice(1));
					this.makeNoteFromValue(newNoteText, value);
				} catch(e) {
					console.log('Error:', e);
				}
			}
			else if (newNoteText[0] == '{') {	 // json note
				var newNote = JSON.parse(newNoteText);
				$scope.workspace.createNote(newNote);
			}
			else if (/^(http:|https:)/.test(newNoteText)) {   // image note
				this.createNote({
					d: 1,
					t: newNoteText,
					x: this.nextXPos(),
					y: this.nextYPos(),
					z: this.getTopZ() + 1
				});
			}
			else {
				if (newNoteText.length == 0) return;
				var lines = newNoteText.split('/');
				var newNote = {
					n: lines[0],
					x: this.nextXPos(),
					y: this.nextYPos(),
					z: this.getTopZ() + 1
				};
				if (lines.length > 1) {
					// html in the body: replace the slashes
					if (lines[1][0] == '<') newNote.t = lines.slice(1).join('/');
					else newNote.t = lines.slice(1).join('\n');
					newNote.d = 1;
				}
				this.createNote(newNote);
			}
		},

		duplicateNote: function(note) {
			var newNote = {};
			angular.extend(newNote, note);  // clone the original
			delete newNote.i;               // delete original's id
			newNote.x += this.grid;         // offset the position
			newNote.y += this.grid;
			this.createNote(newNote);
		}
	};


	//
	// notes
	//
	$scope.notes = {};
	$scope.styleCache = {};
	$scope.titleStyleCache = {};
	$scope.bodyCache = {};

	var Note = {

		titleStyle: function() {
			var style = {
				color: this.over ? 'red' : this.c,
				background: this.b,
				'border-width': this.n ? 1 : 0	  // no border if there's no title to avoid artifact
			}
			return style;
		},

		style: function() {
			return {
				color: (this.c == '#ffffff') ? 'black' : this.c,
				'border-color': this.over ? 'red' : this.c,
				left: this.x, 
				top: this.y, 
				width: this.w,
				//opacity: this.o || 1.0,   // bug: angular update lag
				cursor: $scope.drag.resizable ? 'col-resize' : 'move',
				'z-index': this.z || 0
			}
		},

		renderBody: function() {
			var markup;
			if (!this.t) markup = '';
			else if (this.t[0] == '<') markup = this.t;	// html body
			else if (/^(http:|https:)/.test(this.t)) {	// image url
				if (/(.jpg|.jpeg|.png|.gif|.tiff)$/.test(this.t)) {
					markup = '<img src="' + this.t + '" width="' + this.w + '"/>';
				}
				else markup = this.t;
			}
			else {
				try {
					var lines = this.t.split('\n');
					markup = '<p>' + lines.join('</p>\n<p>') + '</p>';	// else htmlify body
				} catch (e) {
					markup = '' + this.t;
				}
			}
			return markup;
		},

        setBodyCache: function() {
            $scope.bodyCache[this.i] = this.renderBody();
        },

        setStyleCache: function() {
            $scope.styleCache[this.i] = this.style();
        },
        
        setTitleStyleCache: function() {
            $scope.titleStyleCache[this.i] = this.titleStyle();
        },
        
        updateCaches: function() {
            this.setBodyCache();
            this.setStyleCache();
            this.setTitleStyleCache();
        },

        clearCaches: function() {
            delete $scope.bodyCache[this.i];
            delete $scope.styleCache[this.i];
            delete $scope.titleStyleCache[this.i];
        },

		toFront: function() {
		    var topZ = $scope.workspace.getTopZ();
		    if (!this.z || (this.z < topZ)) this.z = topZ + 1;
			this.save();
		},

		toBack: function() {
			this.z = 0;
			this.save();
		},

		// save note to optional workspace
		save: function(workspace) {
			$scope.app.saveObject(this, workspace);
            this.updateCaches();
		},

		remove: function() {		// move note to trash
			if ($scope.app.workspaceName == 'trash') {
				if (!confirm('Delete this note from the trash?')) return;
				$scope.workspace.removeNote(this);
			}
			else this.send('trash');
		},

		send: function(workspace) {
			if (!workspace) return;  // TODO: Validate workspaceName for newWorkspace
			if (workspace == $scope.app.workspaceName) return;	// prevent send-to-self
			this.save(workspace);
			$scope.workspace.removeNote(this);
		},

		toggleText: function() {
			if (this.d) delete this.d;
			else {
				this.d = 1;
				this.toFront();
			}
			this.save();
		},

		// edit title of note
		editTitle: function() {
			this._saved_title = this.n;
			this.editingTitle = 1;
		},

		cancelEditTitle: function() {
			this.n = this._saved_title;
			delete this._saved_title;
			delete this.editingTitle;
		},

		saveTitle: function() {
			delete this._saved_title;   // could keep this for undo
			delete this.editingTitle;
			this.save()
		},

		// edit text of note
		editText: function() {
			this._saved_text = this.t;
			this.d = 1;
			this.editingText = 1;
		},

		cancelEditText: function() {
			this.t = this._saved_text;
			delete this._saved_text;
			delete this.editingText;
		},
		
		saveText: function() {
			delete this._saved_text;   // could keep this for undo
			delete this.editingText;
			this.save();
		},

		snapToGrid: function() {
			var grid = $scope.workspace.grid;
			if (grid) {
				this.x = grid * Math.floor(this.x / grid);
				this.y = grid * Math.floor(this.y / grid);
			}
		}
	};


	//  setWorkspacePrototypes sets up object bindings for Workspace and Note
	function setWorkspacePrototypes() {
		$scope.workspace.__proto__ = Workspace;
		$scope.workspace.defaultNote.__proto__ = Note;
	};

	// initialize the workspace to a copy of the defaultWorkspace
	function initWorkspace() {
		$scope.workspace = {};
		angular.extend($scope.workspace, $scope.defaultWorkspace);
		setWorkspacePrototypes();
	};

	initWorkspace();


	//
	// Drag and Drop
	//	
	$scope.drag = {};
	$scope.resizeMargin = 24;

	// mouse pointer indication
	$scope.inResizeZone = function(note, event) {
		var e = event.originalEvent;
		return (e.offsetX > (note.w - $scope.resizeMargin));
	};

	$scope.mouseover = function(note, event) {
		if ($scope.inResizeZone(note, event)) {
			$scope.drag.resizable = 1;
		}
		else delete $scope.drag.resizable;
	};

	$scope.mouseleave = function(note, event) {
		delete $scope.drag.resizable;
	};

	$scope.stopEvent = function(event) {
		var e = event.originalEvent;
		if (e.preventDefault) {
			e.preventDefault();	 // Necessary. Allows us to drop.
		}
	};

	$scope.dragstart = function(event) {
		if ($scope.drag.active) return true;

		var e = event.originalEvent;
		var id = e.target.id;
		var dragNote = $scope.getEnclosingNote(e.target);
		if (!dragNote) {
			alert('Sorry, I can\'t drag that.');
			return true;
		}
		dragNote.toFront();

		e.dataTransfer.dropEffect = 'move';
		e.dataTransfer.effectAllowed = 'move';
		e.dataTransfer.setDragImage(angular.element('.dragImage')[0], 0, 0);

		if ($scope.inResizeZone(dragNote, event)) {	 // start a resize
			$scope.drag.resizing = true;
			$scope.drag.startingWidth = dragNote.w;
		}
		else {									  // start a drag
			if ($scope.workspace.grid && !e.shiftKey) dragNote.snapToGrid();
			e.target.style.opacity = 0.8;
		}

		angular.extend($scope.drag, {
			startingX: dragNote.x,	  // starting note position
			startingY: dragNote.y,
			offsetX: e.offsetX,	 // cursor offset within note at mousedown
			offsetY: e.offsetY,
			noteElement: e.target,
			dragNote: dragNote,
			active: true,
		});
		return false;
	};

	$scope.dragover = function(event) {
		$scope.stopEvent(event);
		return false;
	};

	$scope.dragenter = function(event) {
		var e = event.originalEvent;
		var hoverNote = $scope.getEnclosingNote(e.target);
		if (hoverNote && e.ctrlKey && (hoverNote.i != $scope.drag.dragNote.i)) {
			$scope.stopEvent(event);
			hoverNote.over = true;
		}
		return false;
	};

	$scope.dragleave = function(event) {
		var e = event.originalEvent;
		var hoverNote = $scope.getEnclosingNote(e.target);
		if (hoverNote) delete hoverNote.over;
	};

	$scope.dragging = function(event) {
		var e = event.originalEvent;
		var dragNote = $scope.drag.dragNote;
		var grid = $scope.workspace.grid;

		if ($scope.drag.resizing) {
			var dx = e.offsetX - $scope.drag.offsetX;
			var newWidth = $scope.drag.startingWidth + dx;
			if ($scope.workspace.grid && !e.shiftKey) newWidth = grid * Math.floor(newWidth/grid);
			if (newWidth < 48) newWidth = 48;
			dragNote.w = newWidth;
            dragNote.setStyleCache();
		}
		else {
			var newx = e.x - $scope.drag.offsetX + $window.pageXOffset;
			var newy = e.y - $scope.drag.offsetY + $window.pageYOffset;
			var dx = newx - $scope.drag.startingX;
			var dy = newy - $scope.drag.startingY;
			if (grid && !e.shiftKey) {
				dx = grid * Math.floor(dx / grid);
				dy = grid * Math.floor(dy / grid);
			}
			dragNote.x = Math.max(0, $scope.drag.startingX + dx);
			dragNote.y = Math.max(0, $scope.drag.startingY + dy);
            dragNote.setStyleCache();
		}
	};

	$scope.getEnclosingNote = function(element) {
		while (element) {
			e = angular.element(element);
			if (e.hasClass('note')) {
				// "note_N123" -> "N123" -> $scope.notes["N123"]
				return $scope.notes[element.id.slice(5)];
			}
			if (e.hasClass('workspace')) return undefined;
			if (e == angular.element('body')) return undefined;
			element = element.parentElement;
		}
		return undefined;
	};

	$scope.drop = function(event) {
		$scope.stopEvent(event);
		if (!$scope.drag.active) return;
		$scope.drag.noteElement.style.opacity = 1.0;
		var e = event.originalEvent;
		var target = e.target;
		var dropNote = $scope.getEnclosingNote(e.target);
		if (dropNote && e.ctrlKey) {	// bug: this isn't working
			dropNote.t += [
				'<p>', $scope.drag.dragNote.n, '</p>\n',
				'<p>', $scope.drag.dragNote.t, '</p>'
			].join('');
			dropNote.save();
		}
		$scope.drag.dragNote.save();
		$scope.drag = {};
		return false;
	};

	$scope.dragend = function(event) { 
		// this/e.target is the source node.
		//var e = event.originalEvent;
		//console.log('dragend', event);  
		return false;
	};


	//
	//  menus
	//
	$scope.noteMenu = [
		{i:'icon-pencil', t:'Edit Note Title',	  x:'menu.selectedNote.editTitle()'},
		{i:'icon-edit', t:'Edit Note Body',			x:'menu.selectedNote.editText()'},
		{s:1},
		{i:'icon-tint', t:'Set Text Color',			x:'setNoteColor("c", menu.selectedNote)'},
		{i:'icon-tint', t:'Set Background Color',   x:'setNoteColor("b", menu.selectedNote)'},
		{s:1},
		{i:'icon-share', t:'Duplicate Note',		x:'workspace.duplicateNote(menu.selectedNote)'},
		{s:1},
		{i:'icon-arrow-down', t:'Send to Back',		x:'menu.selectedNote.toBack()'},
		{s:1},
		{i:'icon-ok', t:'Move to Done',				x:'menu.selectedNote.send("done")'},
		{i:'icon-arrow-right', t:'Move To...', m:1, x:'showSendToMenu()'},	// m for submenu
		{s:1},
		{i:'icon-trash', t:'Move to Trash',			x:'menu.selectedNote.remove()'}
	];
	
	$scope.workspaceMenu = [
		{i:'icon-plus-sign', t:'Create Workspace',		    x:'app.createWorkspace()'},
		{s:1},
		{i:'icon-tint', t:'Set Workspace Background',		x:'setWorkspaceColor("b", workspace)', p:'workspace.b'},
		{s:1},
		{i:'icon-tint', t:'Set Default Note Text Color',	x:'setDefaultNoteColor("c", workspace.defaultNote)'},
		{i:'icon-tint', t:'Set Default Note Background',	x:'setDefaultNoteColor("b", workspace.defaultNote)'},
		{s:1},
		{i:'icon-download-alt', t:'Back Up This Workspace', x:'workspace.backup()'},
		{i:'icon-download-alt', t:'Restore Workspace',		x:'workspace.restore()'},
		{s:1},
		{i:'icon-trash', t:'Clear This Workspace',			x:'workspace.removeAllNotes()'},
		{i:'icon-trash', t:'Delete This Workspace',			x:'app.removeWorkspace()'},
		{s:1},
		{i:'icon-warning-sign', t:'Wipe All Workspaces',	x:'app.wipeLocalStorage()'},
		{s:1},
		{i:'icon-trash', t:'Empty Trash',					x:'workspace.emptyTrash()'},
		{s:1},
		{i:'icon-eye-open', t:'Toggle Debug',				x:'workspace.setDebug(!workspace.debug)'}
	];

	$scope.menu = {};

	$scope.showNoteMenu = function(note, event) {
		event.preventDefault();
		event.stopPropagation();
		angular.extend($scope.menu, {
			selectedNote: note,
			showingNoteMenu: true,
			x: event.clientX + $window.pageXOffset,
			y: event.clientY + $window.pageYOffset
		});

		// TODO: position the menu with an ng-style so this isn't needed
		angular.element('#noteMenu').css({
			left: $scope.menu.x,
			top: $scope.menu.y
		});
	};

	$scope.showWorkspaceMenu = function(workspace, event) {
		angular.extend($scope.menu, {
			workspace: workspace,
			showingWorkspaceMenu: true,
			x: event.clientX + $window.pageXOffset,
			y: event.clientY + $window.pageYOffset
		});

		// TODO: position the menu with an ng-style so this isn't needed
		angular.element('#workspaceMenu').css({
			left: $scope.menu.x,
			top: $scope.menu.y
		});
	};

	$scope.showSendToMenu = function() {
		var event = $scope.menu.event;
		angular.extend($scope.menu, {
			showingSendToMenu: true,
			x: event.clientX + $window.pageXOffset,
			y: event.clientY + $window.pageYOffset
		});

		// TODO: position the menu with an ng-style so this isn't needed
		angular.element('#sendToMenu').css({
			left: $scope.menu.x,
			top: $scope.menu.y
		});
	};

	$scope.doMenuCommand = function(item, event) {
		$scope.menu.event = event;
		$scope.$eval(item.x);
		if (!item.m) $scope.hideMenu();
	};


	//
	// color picker
	//
	$scope.pickedColor = '';

	$scope.showColorPicker = function() {
		$scope.showingColorPicker = true;
		angular.element('.colorPickerPlaceholder').click();
		angular.element('.colorpicker').css({
			left: $scope.menu.x,
			top: $scope.menu.y
		});		
	};

	$scope.isColorPickerVisible = function() {
		return $('.colorpicker-visible').length > 0;
	};

	$scope.setNoteColor = function(attr, note) {
		$scope.setObjectColor(attr, note, 
				(note[attr] || $scope.workspace.defaultNote[attr]), function(note) {
			note.save();
		});
	};

	$scope.setWorkspaceColor = function(attr, obj) {
		$scope.setObjectColor(attr, obj, obj[attr], function(workspace) {
			$scope.workspace.save();
		});
	};

	$scope.setDefaultNoteColor = function(attr, note) {
		$scope.setObjectColor(attr, note, note[attr], function(note) {
			$scope.workspace.save();
		});
	};
	
	$scope.setObjectColor = function(attr, obj, initialColor, callback) {
		$scope.pickedColor = initialColor;
		$scope.showColorPicker();

		// watch pickedColor and update note[attr]
		var colorWatch = $scope.$watch('pickedColor', function(newValue, oldValue) {
			if (newValue === oldValue) return;
			obj[attr] = newValue;
		});

		// watch isColorPickerVisible to become false and saveNote
		// $watch doesn't work here until Angular sees an event later
		var checkInterval = 100;
		var pickerLastState = $scope.isColorPickerVisible();
		var watchPickerDisappear = function() {
			var pickerNewState = $scope.isColorPickerVisible();
			if (pickerLastState && !pickerNewState) {   // look for falling edge
				if (callback) callback(obj);	// fire the callback
				colorWatch();	   // stop watching color: call the remove() function
			}
			else {
				$timeout(watchPickerDisappear, checkInterval);
			}
		};
		watchPickerDisappear();
	};

	$scope.hideMenu = function() {
		$scope.menu = {};
	};

    $scope.colorPreview = function(color) {
        return [
            '<div class="colorPreview" style="color:',
            color,
            '"/>'
        ].join('');
    };

	//
	//  command bar
	//
	$scope.commandBar = {left: 0, top: 0, width: $window.outerWidth};
	$scope.commandBarStyle = function() { return $scope.commandBar; }
	$scope.setupCommandBarFollowing = function() {
		angular.element($window).bind('scroll', function() {
			$scope.commandBar.left = $window.pageXOffset;
			$scope.commandBar.top = $window.pageYOffset;
			$scope.$apply();
		});
		angular.element($window).bind('resize', function() {
			$scope.commandBar.width = $window.outerWidth;
			$scope.$apply();
		});
	};
	$scope.setupCommandBarFollowing();

	// start the application
	$scope.app.load();
};
</script>
</body>
</html>
